<div id="footerSec" class="footer section">
    <div class="footer-container w-container">
        <div class="social-media-text">{{page.copyright}} </div>
        <div class="social-icons">
            <a class="social-icon-link " target="_blank" href="https://www.facebook.com/cogssandakan">
                <img src={{"/assets/img/social/fb.png" | relative_url }} width="30">
            </a>
            <a class="social-icon-link " target="_blank" href="https://twitter.com/cogssandakan">
                <img src={{"/assets/img/social/twitter.png" | relative_url }} width="30">
            </a>
            <a class="social-icon-link " target="_blank" href="https://instagram.com/cogssandakan">
                <img src={{"/assets/img/social/instag.png" | relative_url }} width="30">
            </a>
            <a class="social-icon-link " target="_blank" href="https://plus.google.com/u/0/107266476292640136953">
                <img src={{"/assets/img/social/google-plus.png" | relative_url }} width="30">
            </a>
        </div>
    </div>
</div>
