<div class="mission-statement-section">
    <div class="transparent-layer-2">
        <div class="verse-container">
            <p class="bible-verse">"{{page.bible-verse}}"<br>{{page.bible1}}:{{page.bible2}}</p>
        </div>
        <div class="footer">
            <div class="footer-container w-container">
                <div class="social-media-text">{{page.copyright}}</div>

                <div class="social-icons">
                    <a class="social-icon-link " target="_blank" href="https://www.facebook.com/cogssandakan">
                        <img src="{{site.baseurl}}/assets/img/social/fb.png" width="30">
                    </a>
                    <a class="social-icon-link " target="_blank" href="https://twitter.com/cogssandakan">
                        <img src="{{site.baseurl}}/assets/img/social/twitter.png" width="30">
                    </a>
                    <a class="social-icon-link " target="_blank" href="https://instagram.com/cogssandakan">
                        <img src="{{site.baseurl}}/assets/img/social/instag.png" width="30">
                    </a>
                    <a class="social-icon-link " target="_blank" href="https://plus.google.com/u/0/107266476292640136953">
                        <img src="{{site.baseurl}}/assets/img/social/google-plus.png" width="30">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
