<article class="picAd">
    <div>
        <img src="https://res.cloudinary.com/trippleninja/image/upload/v1537601469/News%20Images/freedom.jpg">
    </div>
    <div class="description-container">
        <p>圣经教导课程</p>
        <div class="pgraph">Philip Tan牧师（来自澳洲）英文主讲，中文翻译。入场免费。<br>10月08日（周一）晚上7:30 ，『行在神的圣洁中- 从捆绑中 得自由』圣经研讨会，圣米迦勒堂。
            <br>10月09日（周二）晚上7:30，圣经研讨会，善牧堂。<br>10月13日（周六）下午2:00，国文教导课程。</div>
    </div>
</article>
<article class="picAd">
    <div>
        <img src="https://res.cloudinary.com/trippleninja/image/upload/v1523091903/News%20Images/ATI.jpg">
    </div>
    <div class="description-container">
        <p>ATI-E: 神学培训课程</p>
        <a href="http:www.cogssandakan.com/Download/Admission%20Application_ATI-E.pdf" target="_blank" class="link fb-link pgraph">
            10月25-28日(周四至日)<br>地点: 圣米迦勒堂。申请费：RM100 (一次性，不退还) 。报名费: RM270 (学分), RM120 (无学分) 考试: 10月21日。<br><span class="alpha-link">点击这里以下载注册表格!</span></a>
    </div>
</article>
<article class="picAd">
    <div>
        <img src="https://res.cloudinary.com/trippleninja/image/upload/v1537002561/News%20Images/sabahcellgroup.jpg">
    </div>
    <div class="description-container">
        <p>沙巴幸福小组培训会</p>
        <a href="https://res.cloudinary.com/trippleninja/image/upload/v1537002561/News%20Images/sabahcellgroup.jpg" target="_blank" class="link fb-link pgraph">
        11月06-07日(周二至三)<br>地点: 荣耀基督徒中心举行。报名费RM150.00。早鸟优费RM120.00 (9月1-30日)<br><span class="alpha-link">欲了解更多信息，请点击此处。</span></a>
    </div>
</article>
<article class="picAd">
    <div>
        <img src="https://res.cloudinary.com/trippleninja/image/upload/v1531561701/News%20Images/GLS.jpg">
    </div>
    <div class="description-container">
        <p>环球领袖高峰会</p>
        <a href="https://res.cloudinary.com/trippleninja/image/upload/v1530961245/News%20Images/Global_Leader_Submit.jpg" target="_blank" class="link fb-link pgraph">
            11月5-6日2018 (周一至二)<br>地点: 圣米迦勒堂。透过大型荧幕观赏, 实镜影像体验大会。<span class="alpha-link"> 欲了解更多详情，点击这里下载官方海报!</span></a>
    </div>
</article>
