<article class="picAd">
    <div>
        <img src="https://res.cloudinary.com/trippleninja/image/upload/v1537601469/News%20Images/freedom.jpg">
    </div>
    <div class="description-container">
        <p>Seminar Pembebasan “Berjalan dalam Kekudusan”</p>
        <div class="pgraph">Penceramah: Rev Philip Tan (dari Australia) - Terjemahan dari English ke BM. Kemasukan Percuma. Dewan Barrett - 2.00 Petang.
            <br>13 Oktober (Sabtu)</div>
    </div>
</article>
<article class="picAd">
    <div>
        <img src="https://res.cloudinary.com/trippleninja/image/upload/v1536391687/Kanak%20BM/Kanak_Konferensi1.jpg">
    </div>
    <div class="description-container">
        <p>Konferensi Penyembahan Kanak Kanak DOS</p>
        <a href="https://res.cloudinary.com/trippleninja/image/upload/v1536391689/Kanak%20BM/Kanak_Konferensi2.jpg" target="_blank" class="link fb-link pgraph">
        26 - 29 Nov 2018, Dewan Sekolah Visi<br>Yuran: RM80.00 (termasuk makanan & baju). Maklumat lanjut sila hubungi Pn Fidelia (011-2524 4194) & Cik Rozalyn Adun (014-373 6047) atau <span class="alpha-link">klik di sini untuk maklumat lanjut</span></a>
    </div>
</article>
