<div class="all-news-container">
    <div class="news-container tabcontent active" id="pastEvents">
        <div class="events-icon add-radius">
            <a><img src="http://www.cogssandakan.com/img/trumpet.png"></a>
            <h2>{{page.past-events}}</h2>
        </div>
        <article class="main-news" data-groups="past" data-date="2017-12-17" data-title="Weekly ch Churh Bulletin">
            <a rel="canonical" href="http://www.cogssandakan.com/News/Past/Inspired_Christmas_Night.html"><img class="main-image round-radius" src="http://res.cloudinary.com/trippleninja/image/upload/v1514560579/Inspired%20Christmas%20Night/Inpsired17.jpg">
                    <div class="main-news-description">
                        <h1 class="main-news-title">{{page.top-news3}}</h1>
                        <p class="news-pgraph3">{{page.top-descriptions3}}</p>
                        <p class="news-pgraph1">{{page.top-pgraph3}}</p>
                    </div>
                </a>
        </article>
        <div class="top-news">
            <article class="news">
                    <a rel="canonical" href="http://www.cogssandakan.com/News/Past/Christmas_Service.html"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1514464675/Christmas%20Day%20Service%2017/christmas1.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS Christmas Service</h1>
                            <p class="news-pgraph2">25/12/2017</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cogssandakan.com/News/Past/Christmas_Service.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//www.cogssandakan.com/News/Past/Christmas_Service.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//www.cogssandakan.com/News/Past/Christmas_Service.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text=http://www.cogssandakan.com/News/Past/Christmas_Service.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="http://www.cogssandakan.com/News/Past/Christmas_Eve_Celebration.html"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1514464898/Christmas%20Eve%20Service%2017/Eve1.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS Christmas Eve Celebration</h1>
                            <p class="news-pgraph2">24/12/2017</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cogssandakan.com/News/Past/Christmas_Eve_Celebration.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//www.cogssandakan.com/News/Past/Christmas_Eve_Celebration.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//www.cogssandakan.com/News/Past/Christmas_Eve_Celebration.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text=http://www.cogssandakan.com/News/Past/Christmas_Eve_Celebration.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>

                <article class="news">
                    <a rel="canonical" href="http://www.cogssandakan.com/News/Past/Logos_Christmas_Dinner.html"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1514464329/Logos%20Zone%20Christmas%20Dinner%2017/LogosDinner10.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">LOGOS Zone Christmas Dinner</h1>
                            <p class="news-pgraph2">17/12/2017</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cogssandakan.com/News/Past/Logos_Christmas_Dinner.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//www.cogssandakan.com/News/Past/Logos_Christmas_Dinner.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//www.cogssandakan.com/News/Past/Logos_Christmas_Dinner.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text=http://www.cogssandakan.com/News/Past/Logos_Christmas_Dinner.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>

                <article class="news">
                    <a rel="canonical" href="http://www.cogssandakan.com/News/Past/Children_Christmas_Celebration.html"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1514464583/Children%20Christmas%20Celebration%2017/22.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS Children Christmas Celebration</h1>
                            <p class="news-pgraph2">09/12/2017</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cogssandakan.com/News/Past/Children_Christmas_Celebration.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//www.cogssandakan.com/News/Past/Children_Christmas_Celebration.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//www.cogssandakan.com/News/Past/Children_Christmas_Celebration.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text=http://www.cogssandakan.com/News/Past/Children_Christmas_Celebration.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>

            <article class="news">
                    <a rel="canonical" href="http://www.cogssandakan.com/News/Past/Interchurch_Christmas.html"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1512826156/Interchurch%20Christmas/sic-14.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">Sandakan Interchurch</h1>
                            <p class="news-pgraph2">3/12/2017</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cogssandakan.com/News/Past/Interchurch_Christmas.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//www.cogssandakan.com/News/Past/Interchurch_Christmas.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//www.cogssandakan.com/News/Past/Interchurch_Christmas.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text=http://www.cogssandakan.com/News/Past/Interchurch_Christmas.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>

            <article class="news">
                <a rel="canonical" href="http://www.cogssandakan.com/News/Past/Rise_Up_Youth_Camp.html"><img class="news-image" src="http://www.cogssandakan.com/News/img/riseup1.jpg">

                    <div class="newsdescription">
                        <h1 class="top-news-title">Rise Up Youth Camp (BM)</h1>
                        <p class="news-pgraph2">16 - 19/10/2017</p>
                    </div>
                </a>
                <div class="card__share">
                    <div class="card__social">
                        <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cogssandakan.com/News/Past/Rise_Up_Youth_Camp.html" target="_blank"><span class="fa fa-facebook"></span></a>
                        <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//www.cogssandakan.com/News/Past/Rise_Up_Youth_Camp.html" target="_blank"><span class="fa fa-twitter"></span></a>
                        <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//www.cogssandakan.com/News/Past/Rise_Up_Youth_Camp.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                        <a class="share-icon whatsapp" href="whatsapp://send?text=http://www.cogssandakan.com/News/Past/Rise_Up_Youth_Camp.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                    </div>

                    <a class="share-toggle share-icon" href="#"></a>
                </div>
            </article>

            <article class="news">
                <a rel="canonical" href="http://www.cogssandakan.com/News/Past/Children_Motivation_Camp_Aug17.html"><img class="news-image" src="http://www.cogssandakan.com/News/img/ChildrenMotivationCamp1.jpg">

                    <div class="newsdescription">
                        <h1 class="top-news-title">Children Motivation Camp</h1>
                        <p class="news-pgraph2">29 - 31/08/2017</p>
                    </div>
                </a>
                <div class="card__share">
                    <div class="card__social">
                        <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cogssandakan.com/News/Past/Children_Motivation_Camp_Aug17.html" target="_blank"><span class="fa fa-facebook"></span></a>
                        <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//www.cogssandakan.com/News/Past/Children_Motivation_Camp_Aug17.html" target="_blank"><span class="fa fa-twitter"></span></a>
                        <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//www.cogssandakan.com/News/Past/Children_Motivation_Camp_Aug17.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                        <a class="share-icon whatsapp" href="whatsapp://send?text=http://www.cogssandakan.com/News/Past/Children_Motivation_Camp_Aug17.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                    </div>

                    <a class="share-toggle share-icon" href="#"></a>
                </div>
            </article>

            <article class="news">
                <a rel="canonical" href="http://www.cogssandakan.com/News/Past/Survival_Youth_Camp.html"><img class="news-image" src="http://www.cogssandakan.com/News/img/BM-Camp.jpg">

                    <div class="newsdescription">
                        <h1 class="top-news-title">Survival Youth Camp (BM)</h1>
                        <p class="news-pgraph2">28 - 30/08/2017</p>
                    </div>
                </a>
                <div class="card__share">
                    <div class="card__social">
                        <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cogssandakan.com/News/Past/Survival_Youth_Camp.html" target="_blank"><span class="fa fa-facebook"></span></a>
                        <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//www.cogssandakan.com/News/Past/Survival_Youth_Camp.html" target="_blank"><span class="fa fa-twitter"></span></a>
                        <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//www.cogssandakan.com/News/Past/Survival_Youth_Camp.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                        <a class="share-icon whatsapp" href="whatsapp://send?text=http://www.cogssandakan.com/News/Past/Survival_Youth_Camp.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                    </div>

                    <a class="share-toggle share-icon" href="#"></a>
                </div>
            </article>

            <article class="news">
                <a rel="canonical" href="http://www.cogssandakan.com/News/Past/JGeneration.html"><img class="news-image" src="http://www.cogssandakan.com/News/img/jgeneration2.jpg">

                    <div class="newsdescription">
                        <!--(J世代青少年营会)-->
                        <h1 class="top-news-title">J Generation Camp</h1>
                        <p class="news-pgraph2">05 - 06/07/2017 </p>
                    </div>
                </a>
                <div class="card__share">
                    <div class="card__social">
                        <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cogssandakan.com/News/Past/JGeneration.html" target="_blank"><span class="fa fa-facebook"></span></a>
                        <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//www.cogssandakan.com/News/Past/JGeneration.html" target="_blank"><span class="fa fa-twitter"></span></a>
                        <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//www.cogssandakan.com/News/Past/JGeneration.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                        <a class="share-icon whatsapp" href="whatsapp://send?text=http://www.cogssandakan.com/News/Past/JGeneration.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                    </div>

                    <a class="share-toggle share-icon" href="#"></a>
                </div>
            </article>

            <article class="news">
                <a rel="canonical" href="http://www.cogssandakan.com/News/Past/Children_Bible_Camp_Mar17.html"><img class="news-image" src="http://www.cogssandakan.com/News/img/ChildrenBibleCamp.jpg">

                    <div class="newsdescription">
                        <h1 class="top-news-title">Children Bible Camp</h1>
                        <p class="news-pgraph2">20 - 22/03/2017</p>
                    </div>
                </a>
                <div class="card__share">
                    <div class="card__social">
                        <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cogssandakan.com/News/Past/Children_Bible_Camp_Mar17.html" target="_blank"><span class="fa fa-facebook"></span></a>
                        <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//www.cogssandakan.com/News/Past/Children_Bible_Camp_Mar17.html" target="_blank"><span class="fa fa-twitter"></span></a>
                        <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//www.cogssandakan.com/News/Past/Children_Bible_Camp_Mar17.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                        <a class="share-icon whatsapp" href="whatsapp://send?text=http://www.cogssandakan.com/News/Past/Children_Bible_Camp_Mar17.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                    </div>

                    <a class="share-toggle share-icon" href="#"></a>
                </div>
            </article>
        </div>
        <!-- End of Top News -->
    </div>
    <!-- End of News-Container -->
</div>
<!-- End of Past events -->
