

<div class="all-news-container">
    <div class="news-container tabcontent" id="upcomingEvents">
        <div class="events-icon">
            <a><img src="http://www.cogssandakan.com/img/calendar1.png"></a>
            <h2>{{page.upcoming-events}}</h2>
        </div>
        <article class="main-news" data-groups="upcoming" data-date="2017-12-17" data-title="Inspired Christmas Night">
            <a rel="canonical" href="http://cogssandakan.com/Bulletin/Jan_18/18-01-21-ENGLISH-min.pdf" target="_blank"><img class="main-image round-radius" src="http://www.cogssandakan.com/img/bulletin2.jpg">
                    <div class="main-news-description">
                        <h1 class="main-news-title">{{page.top-news1}}</h1>
                        <p class="news-pgraph3">{{page.top-descriptions1}}</p>
                    </div>
                </a>
        </article>
      </div>
    </div>
