/* Minify of normalized.css */
a,h1,h3,p{color:#fff}body,div,h1,h3,section{margin:0}*{-webkit-box-sizing:border-box;box-sizing:border-box}html{height:100%;font-family:Oswald,sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{min-height:100%}section{display:block}a{text-decoration:none;background-color:transparent}a:active,a:hover{outline:0}img{border:0}h1,h3{line-height:inherit;padding:0;display:inline-block}.social-container{position:fixed;width:100%;bottom:0;padding:.5em;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.social-container p{margin:11px 0 0;font-size:1.1rem}.social-icons{margin-top:15px;margin-left:20px}.social-icon-link{padding:3px;opacity:.66;-webkit-transition:opacity .3s ease;-o-transition:opacity .3s ease;transition:opacity .3s ease}.social-icon-link:hover{opacity:1}.social-icon-link img{width:1.5rem}@media screen and (max-width:1441px) and (orientation:landscape){.social-container p{font-size:1rem}.social-icon-link img{width:1.35em}}@media screen and (max-width:640px) and (max-height:280px){.social-container{padding:.2em}}@media screen and (max-width:430px) and (max-height:840px){.social-container p{margin-top:.9rem}.social-icon-link img{width:1.6rem}}@media screen and (max-width:320px) and (max-height:568px){.social-container p{margin-top:1.1rem}}



/* Minify of nav&footer.css */
.pop-container,.top-container{-webkit-transform:perspective(1px) translateY(-50%)}.footer,.top-nav{height:10%;left:0}.pop-container a,.pop-container h2{font-family:Merriweather,serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}.top-nav{position:absolute;top:0;padding:30px 0;width:100%;min-height:50px;max-height:100px}.top-container{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;padding:0 30px;position:relative;top:50%;transform:perspective(1px) translateY(-50%)}.link,.text-block{display:inline-block;font-family:Merriweather,serif;font-size:25px;font-weight:400;line-height:1em;color:#fff}.text-block{-webkit-box-flex:3;-ms-flex:3;flex:3;text-align:left}.link,.social-media-text{-webkit-box-flex:1;text-align:right}.link{-ms-flex:1;flex:1;text-decoration:none}@media screen and (max-width:1370px) and (orientation:landscape){.link,.text-block{font-size:35px}}@media screen and (max-width:1370px) and (max-height:670px){.link,.text-block{font-size:25px}}@media screen and (max-width:1280px){.link,.text-block{font-size:32px}}@media screen and (max-width:1280px) and (max-height:800px){.link,.text-block{font-size:28px}}@media screen and (max-width:1280px) and (max-height:670px){.link,.text-block{font-size:25px}}@media screen and (max-width:1100px){.top-nav{padding:15px 0}.top-container{padding:0 25px}.link,.text-block{font-size:20px}}@media screen and (max-width:1024px){.top-nav{padding:30px 0}.top-container{padding:0 30px}.top-nav .text-block,.top-nav a{font-size:35px}}@media screen and (max-width:1024px) and (max-height:770px){.top-nav .text-block,.top-nav a{font-size:25px}}@media screen and (max-width:1024px) and (max-height:510px){.top-nav .text-block,.top-nav a{font-size:22px}}@media screen and (max-width:990px){.top-nav .text-block,.top-nav a{font-size:20px}}@media screen and (max-width:800px) and (max-height:1140px){.top-nav .text-block,.top-nav a{font-size:30px}}@media screen and (max-width:740px) and (max-height:430px){.top-nav{padding:15px 0}.top-container{padding:0 20px}.top-nav .text-block,.top-nav a{font-size:20px}}@media screen and (max-width:610px) and (max-height:850px){.top-container{padding:0 25px}.top-nav .text-block,.top-nav a{font-size:25px}}@media screen and (max-width:430px) and (max-height:840px){.top-nav{max-height:60px}.top-nav .text-block,.top-nav a{font-size:20px}}@media screen and (max-width:430px) and (max-height:630px){.top-nav{padding:15px 0;min-height:40px;max-height:50px}.top-container{padding:0 20px}.top-nav .text-block,.top-nav a{font-size:18px}}@media screen and (max-width:380px){.top-nav{padding:15px 0;min-height:40px;max-height:50px}.top-container{padding:0 20px}.top-nav .text-block,.top-nav a{font-size:17px}}@media screen and (max-width:320px) and (max-height:568px){.top-container{padding:0 15px}.top-nav .text-block,.top-nav a{font-size:16px}}.w-container{margin-left:auto;margin-right:auto;max-width:1000px}.w-container:after,.w-container:before{content:" ";display:table}.w-container:after{clear:both}@media screen and (max-width:1441px){.w-container{max-width:80%}}@media screen and (max-width:800px){.w-container{max-width:85%}}.footer{padding:10px 0;background-color:#000;color:#fff;position:relative;bottom:0;width:100%;min-height:55px;max-height:100px;display:flex;justify-content:center}.pop-message,.pop-pic{height:100vh;width:100%}.footer-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%}.social-media-text{display:inline-block;padding-right:10px;-ms-flex-positive:1;flex-grow:1;font-size:20px;border-radius:4px}.social-icons{display:inline-block;padding-left:10px;margin-left:0;margin-top:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;text-align:left;-webkit-transform:perspective(1px) translateY(10%);transform:perspective(1px) translateY(10%)}.social-icon-link{padding:0 10px 0 0;color:#000;opacity:.66;-webkit-transition:opacity .3s ease;-o-transition:opacity .3s ease;transition:opacity .3s ease}.social-icon-link:hover{opacity:1}.social-icon-link img{width:30px;max-width:100%}@media screen and (max-width:1280px) and (max-height:960px){.footer-container{-webkit-transform:perspective(1px) translateY(4%);-ms-transform:perspective(1px) translateY(4%);transform:perspective(1px) translateY(4%)}}@media screen and (max-width:1280px) and (max-height:670px){.footer{padding:5px}}@media screen and (max-width:1024px){.social-media-text{font-size:30px}.social-icon-link img{width:40px}.footer{padding:15px 0}}@media screen and (max-width:1024px) and (max-height:770px){.footer{padding:10px 0}.social-media-text{font-size:20px}.social-icon-link img{width:30px}}@media screen and (max-width:1024px) and (max-height:510px){.social-media-text{font-size:15px}.social-icons{padding-left:5px}.social-icon-link{padding-right:5px}.social-icon-link img{width:21px}.footer{padding:0}}@media screen and (max-width:1100px) and (max-height:520px){.social-media-text{font-size:16px}.social-icon-link img{width:24px}.footer{padding:0;min-height:50px}}@media screen and (max-width:970px) and (max-height:490px){.footer-container{-webkit-transform:perspective(1px) translateY(4%);-ms-transform:perspective(1px) translateY(4%);transform:perspective(1px) translateY(4%)}.footer{min-height:50px}.social-icon-link img{width:20px}}@media screen and (max-width:810px){.social-media-text{font-size:25px}.social-icon-link img{width:38px}}@media screen and (max-width:610px) and (max-height:970px){.footer{padding:15px 0}.social-media-text{font-size:20px}.social-icon-link img{width:28px}}@media screen and (max-width:480px){.footer{min-height:45px;max-height:55px;padding:10px 0}.social-media-text{padding-right:5px;font-size:16px}.social-icons{padding-left:5px}.social-icon-link{padding-right:5px}.social-icon-link img{width:20px}}@media screen and (max-width:430px) and (max-height:655px){.social-media-text{font-size:15px}}@media screen and (max-width:380px){.social-media-text{font-size:14px}}@media screen and (max-width:360px){.social-media-text{font-size:13px}.social-icon-link img{width:18px}}@media screen and (max-width:320px){.footer{max-height:50px}.social-media-text{font-size:12px}.social-icon-link img{width:17px}}.pop-message{display:none;background-color:rgba(245,245,245,1);position:fixed;top:0;left:0;z-index:1006}.pop-container{width:100%;position:absolute;top:50%;transform:perspective(1px) translateY(-50%)}.pop-pic{background-image:url(http://res.cloudinary.com/trippleninja/image/upload/v1511521115/Christmas/christmas8.jpg);background-size:cover;background-position:center;background-repeat:no-repeat}.pop-container .pop-row{position:absolute;height:100%;top:45%;left:5%;width:45%}.pop-container h2{color:#000;margin-bottom:20px}.pop-container a{text-decoration:none;color:#fff;font-size:.9rem;background-color:#d8172e;border-radius:4px;padding:.6em .8em;-webkit-box-shadow:0 2px 4px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);box-shadow:0 2px 4px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);opacity:.9}.pop-container a:hover{opacity:1}.rotate-screen{display:none;height:100vh;width:100%;position:fixed;top:0;left:0;background-color:#fff;overflow:hidden;z-index:1005}.rotate-container{width:100%;position:absolute;top:50%;-webkit-transform:perspective(1px) translateY(-50%);transform:perspective(1px) translateY(-50%)}.rotate-pic{height:23vh;width:23vh;background-image:url(../History/img/rotate.png);background-size:contain;margin:0 auto}.rotate-container h2{color:#000;margin:10px 0;text-align:center}@font-face{font-family:Merriweather;font-style:normal;font-weight:400;src:local('Merriweather Regular'),local('Merriweather-Regular'),url(https://fonts.gstatic.com/s/merriweather/v19/RFda8w1V0eDZheqfcyQ4EK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');unicode-range:U+0460-052F,U+20B4,U+2DE0-2DFF,U+A640-A69F}@font-face{font-family:Merriweather;font-style:normal;font-weight:400;src:local('Merriweather Regular'),local('Merriweather-Regular'),url(https://fonts.gstatic.com/s/merriweather/v19/RFda8w1V0eDZheqfcyQ4EJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:Merriweather;font-style:normal;font-weight:400;src:local('Merriweather Regular'),local('Merriweather-Regular'),url(https://fonts.gstatic.com/s/merriweather/v19/RFda8w1V0eDZheqfcyQ4EP8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');unicode-range:U+0102-0103,U+1EA0-1EF9,U+20AB}@font-face{font-family:Merriweather;font-style:normal;font-weight:400;src:local('Merriweather Regular'),local('Merriweather-Regular'),url(https://fonts.gstatic.com/s/merriweather/v19/RFda8w1V0eDZheqfcyQ4ED0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:Merriweather;font-style:normal;font-weight:400;src:local('Merriweather Regular'),local('Merriweather-Regular'),url(https://fonts.gstatic.com/s/merriweather/v19/RFda8w1V0eDZheqfcyQ4EOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215}@font-face{font-family:'Playfair Display';font-style:normal;font-weight:400;src:local('Playfair Display Regular'),local('PlayfairDisplay-Regular'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/2NBgzUtEeyB-Xtpr9bm1CUR-13DsDU150T1bKbJZejI.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Playfair Display';font-style:normal;font-weight:400;src:local('Playfair Display Regular'),local('PlayfairDisplay-Regular'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/2NBgzUtEeyB-Xtpr9bm1Ceopo71elJnUMZpPusYdj_c.woff2) format('woff2');unicode-range:U+0102-0103,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Playfair Display';font-style:normal;font-weight:400;src:local('Playfair Display Regular'),local('PlayfairDisplay-Regular'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/2NBgzUtEeyB-Xtpr9bm1CfoVn-aGdXvQRwgLLg-TkDk.woff2) format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Playfair Display';font-style:normal;font-weight:400;src:local('Playfair Display Regular'),local('PlayfairDisplay-Regular'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/2NBgzUtEeyB-Xtpr9bm1Cdhy5e3cTyNKTHXrP9DO-Rc.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215}@font-face{font-family:Oswald;font-style:normal;font-weight:400;src:local('Oswald Regular'),local('Oswald-Regular'),url(https://fonts.gstatic.com/s/oswald/v16/DgBpgaYycijFA8v2hNt7MfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:Oswald;font-style:normal;font-weight:400;src:local('Oswald Regular'),local('Oswald-Regular'),url(https://fonts.gstatic.com/s/oswald/v16/peRd8sj511qE2lHtK-QfcPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');unicode-range:U+0102-0103,U+1EA0-1EF9,U+20AB}@font-face{font-family:Oswald;font-style:normal;font-weight:400;src:local('Oswald Regular'),local('Oswald-Regular'),url(https://fonts.gstatic.com/s/oswald/v16/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:Oswald;font-style:normal;font-weight:400;src:local('Oswald Regular'),local('Oswald-Regular'),url(https://fonts.gstatic.com/s/oswald/v16/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215}


/*----- This theme is only 1 section -----------------
- 1.For only 1 section per page information

Examples: church services, 404.html
------------------------------------------------*/

input,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

textarea {
    overflow: auto
}

body {
    background-image: url(../../assets/img/worship1a.jpg);
    background-size: cover;
    background-position: 40%;
    background-repeat: no-repeat;
    text-align: center;
}

section {
    background-color: rgba(20, 30, 40, 0.7);
    height: 100vh;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    line-height: 1em;
    padding: 10px;
}

.button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.visit {
    margin-right: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
}

.share-info {
    margin-left: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
}

.visit a {
    display: inline-block;
    margin: 0 auto;
    font-size: 0.9rem;
    line-height: 1.1em;
    font-weight: 500;
    padding: 0.6em 0.8em;
    border-radius: 0.2em;
    background-color: white;
    color: #cf404d;
}

.visit a:hover {
    font-weight: 500;
    color: white;
    background-color: #2e80b6;
}

.services-container {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.6em;
    margin: 7% auto 0;
}

tr td:first-child {
    text-align: right;
}

tr td:nth-child(2) {
    text-align: left;
    padding-left: 5px;
}

/* If you have the background-layer before top nav, you must include below css */
.top-nav {
    position: unset;
}

/* Orignal position: fixed at the bottom */
.footer {
    background-color: transparent;
    position: absolute;
}


/*Begining of Plan A Visit Section*/

.plan-visit {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #F0F2F2;
    padding-top: 10%;
}

.plan-visit .container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.container .title {
    text-align: center;
    margin-bottom: 30px;
}

.title {
    display: block;
    color: rgba(255, 0, 0, .74);
    font-size: 1.2rem;
    line-height: 0.8em;
    text-align: left;
}

.title h1,
.title h3 {
    display: block;
    color: black;
    font-family: 'Playfair Display', serif;
    margin: 0 auto 5px;
}

.title h1 {
    font-weight: 700;
    line-height: 1em;
    font-size: 4rem;
}

.title h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

.w-input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc
}

.w-input:-moz-placeholder {
    color: #999
}

.w-input::-moz-placeholder {
    color: #999;
    opacity: 1
}

.w-input:-ms-input-placeholder {
    color: #999
}

.w-input::-webkit-input-placeholder {
    color: #999
}

.w-input:focus {
    border-color: #3898EC;
    outline: 0
}

textarea.w-input {
    height: auto
}

.form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-row {
    width: 32.6%;
}

.form-field {
    padding: 0 1.2em;
    margin-right: 1px;
    margin-bottom: 10px;
    border: 0px solid #000;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.form-field:focus {
    -webkit-box-shadow: 0 0 0 1px #2e80b6;
    box-shadow: 0 0 0 1px #2e80b6;
}

.form-field.text-area {
    min-height: 150px;
    padding-top: 0.7em;
}

.close-button {
    font-size: 1rem;
    line-height: 1.1em;
    padding: 0.6em 0.8em;
    border-radius: 0.2em;
    color: white;
    text-decoration: none;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    background-color: #cf404d;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.close-button:hover {
    border-radius: 4px;
    background-color: #cf404d;
    color: white;
}

.selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0 15px;
    height: 55px;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

select {
    font-weight: 400;
    font-family: Oswald, sans-serif;
    font-size: 0.9rem;
    width: 16.4%;
    padding: 0.6em 1.2em;
    background-color: white;
    border-radius: 0.2em;
    border-width: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}


#attendance-date {
    padding: 0.6em 1.2em;
    font-weight: 400;
    margin-bottom: 0;
    text-align: left;
    width: 22%;
    color: black;
    background-color: white;
    border-width: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

select.service-time {
    width: 24%;
}

.form-field,
#attendance-date,
.plan-submit {
    font-size: 0.9rem;
    border-radius: 0.2em;
}

.form-field {
    height: 48px;
}

select, #attendance-date, .plan-submit {
    height: 45px;
}

.button {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #cf404d;
    -webkit-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #000;
}

.button.full-width {
    display: block;
    width: 100%;
    background-color: #2e80b6;
    font-size: 1rem;
    border-radius: 0.2em;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.button.full-width:hover {
    background-color: #cf404d;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

input.w-button {
    -webkit-appearance: button
}

/* ----------- Laptop with HiDPI ----------- */

@media screen and ( max-width: 1441px) and (orientation: landscape) {
    html {
        font-size: 22px;
    }
    /*main navigation*/
    .plan-visit {
        padding-top: 15%;
    }
}


/* ----------- iPad Pro Landscape ----------- */

@media screen and ( max-width: 1370px) and (orientation: landscape) {
    html {
        font-size: 20px;
    }
    .share-button {
        font-size: 0.7rem;
    }
    .selection {
        height: 65px;
    }
    .form-field {
        height: 60px;
    }

    .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 55px;
    }
    .plan-submit {
        padding: 8px;
    }
}


/* ----------- Aspire E1 Laptop Landscape ----------- */

@media screen and ( max-width: 1370px) and (max-height: 670px) {
    html {
        font-size: 18px;
    }
    .share-button {
        font-size: 0.9rem;
    }
    .title {
        font-size: 1.3rem;
    }
    .plan-visit {
        padding-top: 7%;
    }
    .container .title {
        padding-top: 0;
    }
    .selection {
        height: 55px;
    }
    .form-field, .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 45px;
    }
}


/* ----------- Laptop with Touch ----------- */

@media screen and ( max-width: 1280px) {
    html {
        font-size: 20px;
    }
    .plan-visit {
        padding-top: 15%;
    }
}


/* ----------- Laptop with MDPI screen----------- */

@media screen and ( max-width: 1280px) and (max-height: 800px) {
    .plan-visit {
        padding-top: 10%;
    }
    .form-field {
        height: 50px;
    }
    .selection {
        height: 55px;
    }
    .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 45px;
    }
}

/* ----------- S Tab 10.1 Landscape ----------- */

@media screen and ( max-width: 1280px) and (max-height: 670px) {
    html {
        font-size: 18px;
    }
    .plan-visit {
        padding-top: 8%;
    }
}


/* ----------- Aspire V3 Laptop Landscape ----------- */

@media screen and ( max-width: 1100px) {
    html {
        font-size: 16px;
    }
    .share-button {
        font-size: 0.8rem;
    }
    .plan-visit {
        padding-top: 3%;
    }
    .title h1 {
        font-size: 3rem;
    }
    .title h3 {
        font-size: 1.2rem;
    }
    .form-field {
        height: 45px;
    }
    .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 40px;
    }
    .selection {
        height: 50px;
    }
}


/* ----------- iPad Pro Potrait------------------*/

@media screen and ( max-width: 1024px) {
    html {
        font-size: 16px;
    }
    .plan-visit {
        padding-top: 20%;
        padding-bottom: 20px;
    }

    .container {
        height: 100%;
    }
    .title {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .form-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .form-row {
        width: 100%;
    }
    .form-field.text-area {
        min-height: 200px;
    }
    .form-field {
        height: 70px;
    }
    .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 70px;
    }
    .selection {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
    }
    select,
    #attendance-date {
        width: 49.5%;
    }
    select.service-time {
        width: 99.5%;
    }

    .visit a {
        font-size: 1rem;
    }

    .web__share>.share-icon {
        width: 68px;
        height: 68px;
        line-height: 68px;
        font-size: 34px;
    }

}


/* ----------- iPad Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 770px) {
    html {
        font-size: 12px;
    }
    .web__share>.share-icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 25px;
    }
    .container .title {
        font-weight: 500;
        margin-bottom: 15px;
    }
    .plan-visit {
        padding-top: 8%;
    }
    .form-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .form-field.text-area {
        margin-bottom: 5px;
    }
    .selection {
        padding-bottom: 0;
    }
    .form-field, .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 50px;
        margin-bottom: 10px;
    }
    .form-row {
        width: 32.6%;
    }
}


/* ----------- iPad Mini 4 Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 680px) {
    html {
        font-size: 12px;
    }
    .plan-visit {
        padding-top: 4%;
    }
    .form-field, .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 45px;
    }
    .web__share>.share-icon {
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 21px;
    }
}


/* ----------- Lenova IdeaPad Laptop Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 510px) {
    html {
        font-size: 10px;
    }
    .plan-visit {
        padding-top: 7%;
    }
    .close-button {
        font-size: 0.9rem;
    }
    .title h1 {
        font-size: 2.5rem;
    }
    .title h3 {
        font-size: 1rem;
        padding: 0;
    }
    .form-field {
        height: 38px;
        margin-bottom: 5px;
    }

    .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 35px;
        padding-top: 6px;
        margin-bottom: 5px;
    }
    .form-field.text-area {
        min-height: 180px;
        margin-bottom: 5px;
    }
    .selection {
        height: 40px;
        padding-top: 0;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    select {
        width: 16.4%;
    }
    #attendance-date {
        width: 22%;
        padding-top: 10px;
    }
    select.service-time {
        width: 24%;
    }
    .web__share>.share-icon {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 18px;
    }
}


/* ----------- S Note 8.0 Landscape ----------- */



/* ----------- S Tab 10.1 Potrait ----------- */

@media screen and ( max-width: 800px) and (max-height: 1140px) {
    html {
        font-size: 14px;
    }
    .plan-visit {
        padding-top: 15%;
    }
    .web__share>.share-icon {
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 23px;
    }
    .service-time {
        width: 99.6%;
    }
    .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        margin-bottom: 10px;
    }
    .selection {
        padding-bottom: 5px;
    }
}


/* ----------- iPad Potrait----------- */

@media screen and ( max-width: 768px) {
    .share-icon {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 15px;
    }
    .form-field {
        height: 60px;
    }
    .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 57px;
        margin-bottom: 5px;
    }
    .selection {
        padding: 0 0 7px;
    }
}


/* ----------- iPad Mini4 Potrait----------- */

@media screen and ( max-width: 768px) and (max-height: 930px) {
    html {
        font-size: 12px;
    }
    .plan-visit {
        padding-top: 8%;
    }
    .container .title {
        margin-bottom: 15px;
    }
}


/* ----------- iPone 6 Plus Landscape ----------- */

@media screen and ( max-width: 740px) and (max-height: 430px) {
    html {
        font-size: 10px
    }
    .plan-visit {
        padding-top: 3%;
    }
    .form-field {
        height: 40px;
    }
    .form-field, select, #attendance-date {
        padding-left: 10px;
        padding-right: 10px;
    }
    .form-field.text-area {
        min-height: 150px;
    }
    .selection {
        height: auto;
        padding-bottom: 0;
    }
    .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 37px;
    }
    select {
        width: 16.6%;
    }
    #attendance-date {
        width: 19%;
    }
    select.service-time {
        width: 27%;
    }
    .web__share>.share-icon {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 18px;
    }
}


/* ----------- iPone 6 Landscape ----------- */

@media screen and ( max-width: 670px) and (max-height: 380px) {
    .plan-visit {
        padding-top: 7%;
    }
    .form-field {
        height: 35px;
    }
    .form-field.text-area {
        min-height: 120px;
    }
    .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 32px;
    }
    .web__share>.share-icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
    }
}


/* ----------- S Galaxy S5 ----------- */


/* ----------- S Galaxy Note 3 Neo ----------- */

@media screen and ( max-width: 640px) and (max-height: 280px) {
    html {
        font-size: 9px;
    }
}


/* ----------- iPhone 7 Landscape ----------- */

@media screen and ( max-width: 635px) and (max-height: 430px) {
    .plan-visit {
        padding-top: 8%;
    }
    .form-field {
        height: 35px;
        font-size: 14px;
    }

    .form-field.text-area {
        min-height: 120px;
        font-size: 14px;
    }
    .adult, .child, .infant, .service-date, #attendance-date, .service-time {
        height: 32px;
        padding-top: 5px;
        font-size: 14px;
    }
    .plan-submit.button {
        height: 35px;
        font-size: 14px;
    }
    select {
        padding-left: 5px;
        padding-right: 5px;
        width: 15%;
    }
    #attendance-date {
        width: 21%;
        padding-top: 10px;
    }
    select.service-time {
        width: 29%;
    }
}

/* ----------- S Note 8.0 Potrait ----------- */

@media screen and ( max-width: 610px) and (max-height: 850px) {
    html {
        font-size: 12px;
    }
    .plan-visit {
        padding-top: 15%;
    }
    .close-button {
        top: 3%;
        font-size: 0.9rem;
    }
    .title h1 {
        font-size: 2.5rem;
    }
    .title h3 {
        font-size: 1rem;
    }

    .form-field {
        height: 50px;
    }
    .adult, .child, .infant, .service-date, #attendance-date, .service-time {
        height: 45px;
        padding-top: 10px;
    }
    #attendance-date {
        padding-top: 13px;
    }
    .plan-submit {
        height: 45px;
        padding-top: 8px;
    }

    .share-button {
        font-size: 1.5rem;
    }
    .share-container {
        width: 100%;
    }
    .web__share>.share-icon {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 21px;
    }
}


/* ----------- iPhone 5 5s Landscape ----------- */

@media screen and ( max-width: 568px) {
    html {
        font-size: 10px;
    }
    .plan-visit {
        padding-top: 8%;
    }
    .close-button {
        top: 5%;
    }
    .form-field {
        height: 35px;
    }
    .adult, .child, .infant, .service-date, .service-time {
        height: 30px;
        padding-top: 4px;
    }
    #attendance-date {
        height: 30px;
        padding-top: 10px;
    }

    .share-container {
        width: 90%;
    }
    .web__share>.share-icon {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
    }
}


/* ----------- VIVO 5 Samsung J Landscape ----------- */


/* ----------- iPhone 6S Landscape ----------- */


/* ----------- HuaWei Mate 9 Landscape ----------- */


/* ----------- iPhone 4 Landscape ----------- */

@media screen and ( max-width: 480px) and (max-height: 215px) {

    .title {
        font-size: 2rem;
    }
}


/* ----------- iPhone 6 PLUS Potrait----------- */

@media screen and ( max-width: 430px) and (max-height: 840px) {
    html {
        font-size: 14px;
    }
    .share-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }
    .share-button {
        font-size: 1.2rem;
    }
    .web__share>.share-icon {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
    }

    .plan-visit {
        padding-top: 25%;
    }
    .close-button {
        top: 3%;
        font-size: 1.1rem;
    }
    .container .title {
        margin-bottom: 15px;
    }
    .title h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }
    .title h3 {
        font-size: 1.3rem;
    }
    .form-row {
        width: 100%;
    }
    .form-field.text-area {
        min-height: 140px;
    }
    .form-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .form-field {
        height: 40px;
    }
    .adult, .child, .infant, .service-date, .service-time {
        height: 37px;
        padding-top: 6px;
    }
    #attendance-date {
        height: 37px;
    }
    .form-field, .form-field.text-area, .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        margin-bottom: 5px;
    }
    .plan-submit.button {
        height: 37px;
    }
    .selection {
        padding: 0 0 2px;
    }
}


/* ----------- iPhone 7, iPhone 6 PLUS Potrait ----------- */

@media screen and ( max-width: 430px) and ( max-height: 630px) {
    .share-button {
        font-size: 1.1rem;
    }
    .plan-visit {
        padding-top: 18%;
        padding-bottom: 0;
    }
    .container .title {
        padding: 0;
    }
    .title h3 {
        padding: 5px 0;
    }
    form-field {
        height: 37px;
    }
    .adult, .child, .infant, .service-date, .service-time {
        height: 35px;
    }
    .plan-submit.button {
        height: 35px;
    }
}


/* ----------- iPhone 6  Potrait----------- */

@media screen and ( max-width: 380px) {
    html {
        font-size: 12px;
    }
    .plan-visit {
        padding-top: 20%;
    }
}


/* ----------- iPhone 6  Potrait----------- */

@media screen and ( max-width: 380px) and ( max-height: 560px) {
    .plan-visit {
        padding-top: 12%;
        margin-bottom: 0;
    }
    .close-button {
        top: 3%;
        font-size: 0.9rem;
        padding: 0.7em;
    }
    .title h1 {
        font-size: 2.5rem;
    }
    .title h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .form-field.text-area {
        min-height: 130px;
    }
}


/* ----------- iPhone 6 Potrait ----------- */

@media screen and ( max-width: 380px) and ( max-height: 540px) {
    html {
        font-size: 11px
    }
    .share-button {
        font-size: 1.2rem;
    }

    .form-field, .form-field.text-area, .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 35px;
    }
    .plan-submit.button {
        padding-top: 7px;
    }
}


/* ----------- Galaxy Note 3 Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 640px) {

    .close-button {
        font-size: 1rem;
        padding: 8px;
    }
    .form-field, .form-field.text-area, .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 35px;
    }
}


/* ----------- VIVO 5, S Note 3 Neo Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 560px) {
    .plan-visit {
        padding-top: 13%;
    }
    select,
    #attendance-date,
    .attend-service,
    .service-time,
    .plan-visit form .button.full-width {
        height: 35px;
    }
    .share-button {
        font-size: 1.2rem;
    }
}


/* ----------- HuaWei Mate9 Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 530px) {
    .share-button {
        font-size: 1.3rem;
    }

    .form-field, .form-field.text-area, .adult, .child, .infant, .service-date, #attendance-date, .service-time, .plan-submit {
        height: 32px;
    }
}


/* ----------- YES M631Y Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 512px) {
    .plan-visit {
        padding-top: 10%;
    }
    .container .title {
        margin-bottom: 10px;
    }
    select {
        margin-bottom: 0;
    }
}


/* ----------- iPhone 5 and 5S Potrait ----------- */

@media screen and ( max-width: 320px) and ( max-height: 568px) {
    .plan-visit {
        padding-top: 18%;
    }
    .form-field.text-area {
        min-height: 120px;
    }
    .share-button {
        font-size: 1.2rem;
    }
    .web__share>.share-icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
    }
}


/* ----------- iPhone 4 and 4S Potrait----------- */

@media screen and ( max-width: 320px) and ( max-height: 480px) {
    .share-button {
        font-size: 1.2rem;
    }
    .web__share>.share-icon {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 15px;
    }

    .plan-visit {
        padding-top: 13%;
    }
    .plan-visit .form-field.text-area {
        min-height: 100px;
    }
    .selection {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: auto;
    }
    select {
        width: 49%;
    }
    #attendance-date {
        width: 49%;
    }
    select.service-time {
        width: 100%;
    }
}


/* iPhone 5S Potrait */

@media screen and ( max-width: 320px) and ( max-height: 460px) {
    .plan-visit {
        padding-top: 7%;
    }
    .plan-submit.button {
        height: 32px;
        padding-top: 8px;
    }
}


/*End of Plan a Visit Section*/


/*Share This Page Section*/

.share-container {
    width: 100%;
}

.share-button {
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    border-radius: 0.2em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

.share-button span {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.1em;
    font-weight: 500;
    padding: 0.6em 0.8em;
    border-radius: 0.2em;
    color: white;
    background-color: #cf404d;
}

.share-button span:hover {
    font-weight: 500;
    background-color: #2e80b6;
    color: white;
}

.web__share {
    display: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: -webkit-transform 0.35s ease;
    -o-transition: transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}

.web__share .share-icon {
    padding: 0;
}

.share-icon {
    display: inline-block;
    width: 1.9rem;
    font-size: 0.9rem;
    height: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    color: rgba(0, 0, 0, .74);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00abe3;
}

.googleplus {
    background-color: #d3492c;
}

.whatsapp {
    background-color: #25D366;
}

.facebook,
.twitter,
.googleplus,
.whatsapp {
    color: #fff;
}

.facebook:hover,
.twitter:hover,
.googleplus:hover,
.whatsapp:hover {
    color: #eee;
}


/*End of Share this Info Section*/


/* ----------- Laptop with HiDPI ----------- */

@media screen and ( max-width: 1441px) and (orientation: landscape) {
    html {
        font-size: 22px;
    }
    .services-container {
        margin-top: 14%;
    }
}


/* ----------- iPad Pro Landscape ----------- */

@media screen and ( max-width: 1370px) and (orientation: landscape) {
    html {
        font-size: 28px;
    }
    .services-container {
        margin-top: 16%;
    }
}


/* ----------- Aspire E1 Laptop Landscape ----------- */

@media screen and ( max-width: 1370px) and (max-height: 670px) {
    html {
        font-size: 20px;
    }
    .services-container {
        margin-top: 6%;
    }
}


/* ----------- Laptop with Touch ----------- */

@media screen and ( max-width: 1280px) {
    html {
        font-size: 24px;
    }
}


/* ----------- Laptop with MDPI screen----------- */

@media screen and ( max-width: 1280px) and (max-height: 800px) {
    html {
        font-size: 20px;
    }
    .services-container {
        margin-top: 12%;
    }
}


/* ----------- S Tab 10.1 Landscape ----------- */

@media screen and ( max-width: 1281px) and (max-height: 670px) {
    html {
        font-size: 20px;
    }
    .services-container {
        margin-top: 6%;
    }
}

@media screen and ( max-width: 1281px) and (max-height: 580px) {
    .services-container {
        margin-top: 2%;
    }
}


/* ----------- Aspire V3 Laptop Landscape ----------- */

@media screen and ( max-width: 1100px) {
    html {
        font-size: 16px;
    }
    .services-container {
        margin-top: 3%;
    }
}


/* ----------- iPad Pro Potrait------------------*/

@media screen and ( max-width: 1024px) {
    html {
        font-size: 30px;
    }
    .services-container {
        margin-top: 35%;
        font-size: 1.6rem;
    }
}


/* ----------- iPad Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 770px) {
    html {
        font-size: 20px;
    }
    .services-container {
        margin-top: 14%;
    }
}


/* ----------- iPad Mini 4 Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 680px) {
    html {
        font-size: 18px;
    }
    .services-container {
        margin-top: 12%;
    }
}


/* ----------- Lenova IdeaPad Laptop Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 510px) {
    html {
        font-size: 16px;
    }
    .services-container {
        margin-top: 4%;
        font-size: 1.7rem;
    }
}


/* ----------- S Note 8.0 Landscape ----------- */

@media screen and ( max-width: 970px) and (max-height: 490px) {
    html {
        font-size: 16px;
    }
    .services-container {
        margin-top: 2%;
    }
}


/* ----------- S Tab 10.1 Potrait ----------- */

@media screen and ( max-width: 800px) and (max-height: 1140px) {
    html {
        font-size: 26px;
    }
    .services-container {
        font-size: 1.5rem;
    }
}


/* ----------- iPad Potrait----------- */

@media screen and ( max-width: 768px) {
    html {
        font-size: 24px;
    }
}


/* ----------- iPad Mini4 Potrait----------- */

@media screen and ( max-width: 768px) and (max-height: 930px) {
    html {
        font-size: 24px;
    }
    .services-container {
        margin-top: 25%;
    }
}


/* ----------- iPone 6 Plus Landscape ----------- */

@media screen and ( max-width: 740px) and (max-height: 430px) {
    html {
        font-size: 16px;
    }
    .services-container {
        font-size: 1.4rem;
        margin-top: 2%;
    }
}


/* ----------- iPone 6 Landscape ----------- */

@media screen and ( max-width: 670px) and (max-height: 380px) {
    html {
        font-size: 14px;
    }
}


/* ----------- S Galaxy S5 ----------- */

@media screen and ( max-width: 640px) and (max-height: 360px) {
    html {
        font-size: 14px;
    }
}


/* ----------- S Galaxy Note 3 Neo ----------- */

@media screen and ( max-width: 640px) and (max-height: 280px) {
    html {
        font-size: 14px;
    }
    .services-container {
        font-size: 1.3rem;
        padding: 0;
        margin-top: 0;
    }
}

@media screen and ( max-width: 610px) and (max-height: 940px) {
    .services-container {
        margin-top: 35%;
        font-size: 1.3rem;
    }
}


/* ----------- S Note 8.0 Potrait ----------- */

@media screen and ( max-width: 610px) and (max-height: 850px) {
    html {
        font-size: 20px;
    }
    .services-container {

        font-size: 1.4rem;
    }
}


/* ----------- iPhone 5 5s Landscape ----------- */

@media screen and ( max-width: 568px) {
    html {
        font-size: 14px;
    }
    .services-container {
        margin-top: 0;
    }
}


/* ----------- VIVO 5 Samsung J Landscape ----------- */

@media screen and ( max-width: 560px) and (max-height: 360px) {
    html {
        font-size: 14px;
    }
    .services-container {
        margin-top: 6%;
    }
}


/* ----------- iPhone 6S Landscape ----------- */

@media screen and ( max-width: 540px) {
    html {
        font-size: 14px;
    }
    .services-container {
        margin-top: 8%;
    }
}


/* ----------- HuaWei Mate 9 Landscape ----------- */

@media screen and ( max-width: 530px) {
    html {
        font-size: 14px;
    }
    .services-container {
        margin-top: 6%;
    }
}


/* ----------- iPhone 4 Landscape ----------- */

@media screen and ( max-width: 480px) and (max-height: 215px) {
    html {
        font-size: 14px;
    }
}


/* ----------- iPhone 6 PLUS Potrait----------- */

@media screen and ( max-width: 430px) and (max-height: 840px) {
    html {
        font-size: 14px;
    }
    .services-container {
        margin-top: 40%;
        margin-bottom: 20px;
        font-weight: 400;
        padding: 0;
    }
    .services-container tr {
        height: 3rem;
    }
    .visit a,
    .share-button span,
    .share-icon {
        font-size: 1.1rem;
    }
    .share-icon {
        width: 2.2em;
        height: 2.2em;
        line-height: 2.2em;
    }
}

/* ----------- Galaxy Note 5 Potrait ----------- */

@media screen and ( max-width: 430px) and ( max-height: 660px) {
    .services-container {
       margin-top: 30%;
    }
}

/* ----------- iPhone 7, iPhone 6 PLUS Potrait ----------- */

@media screen and ( max-width: 430px) and ( max-height: 630px) {
    html {
        font-size: 14px;
    }
    .services-container {
        margin-top: 30%;
    }
}


/* ----------- iPhone 6  Potrait----------- */

@media screen and ( max-width: 380px) {
    html {
        font-size: 14px;
    }
    .services-container {
        margin-top: 40%;
        font-size: 1.3rem;
    }
}


/* ----------- iPhone 6  Potrait----------- */

@media screen and ( max-width: 380px) and ( max-height: 560px) {
    html {
        font-size: 14px;
    }
    .services-container {
        margin-top: 25%;
    }
    .services-container tr {
        height: 2.5rem;
    }
}


/* ----------- iPhone 6 Potrait ----------- */

@media screen and ( max-width: 380px) and ( max-height: 540px) {
    html {
        font-size: 14px;
    }
}


/* ----------- Galaxy Note 3 Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 640px) {
    html {
        font-size: 14px;
    }
    .services-container tr {
        height: 2.5rem;
    }
    .visit {
        margin-right: 5px;
    }
    .share-info {
        margin-left: 5px;
    }
}

@media screen and ( max-width: 360px) and ( max-height: 580px) {
    .services-container {
        margin-top: 30%;
    }
}


/* ----------- VIVO 5, S Note 3 Neo Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 560px) {
    html {
        font-size: 14px;
    }
}


/* ----------- HuaWei Mate9 Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 530px) {
    html {
        font-size: 14px;
    }
    .services-container {
        margin-top: 25%;
    }
}


/* ----------- YES M631Y Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 512px) {
    html {
        font-size: 14px;
    }
    .services-container {
        margin-bottom: 10px;
    }
    .services-container tr {
        height: 2.3rem;
    }
}


/* ----------- iPhone 5 and 5S Potrait ----------- */

@media screen and ( max-width: 320px) and ( max-height: 568px) {
    html {
        font-size: 13px;
    }
    .services-container {
        margin-top: 40%;
        margin-bottom: 10px;
    }
}


/* ----------- iPhone 4 and 4S Potrait----------- */

@media screen and ( max-width: 320px) and ( max-height: 480px) {
    html {
        font-size: 13px;
    }
    .services-container {
        margin-top: 30%;
    }
}


/* iPhone 5S Potrait */

@media screen and ( max-width: 320px) and ( max-height: 460px) {
    html {
        font-size: 13px;
    }
    .services-container {
        margin-top: 25%;
    }
}
