html {
    font-family: Merriweather, serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

.body {
    margin: 0;
    font-family: Oswald, sans-serif;
    min-height: 100%;
    background: rgba(245, 245, 245, 1);
    font-size: 16px;
    line-height: 20px;
    color: #333
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:active,a:hover {
    outline: 0
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

p, button {
    margin-top: 0;
    margin-bottom: 0;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.w-container:before,.w-container:after {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

@media screen and ( max-width: 1441px) {
    .w-container {
        max-width: 80%;
    }
}

/* ----------- S Tab 10.1 Potrait ----------- */

@media screen and ( max-width: 800px) {
    .w-container {
        max-width: 85%;
    }
}


/* ==========================================================================
   Start of custom CSS
   ========================================================================== */

.main-section {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100vh;
    background-position: 50% 100%;
    background-size: cover;
    font-family: Merriweather, serif;
    color: #fff;
    font-weight: 300;
}

.transparent-layer {
    display: none;
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}
.top-nav {
    position: fixed;
    background-color: #141e28;
    z-index: 100;
}

.main-message {
    padding-top: 10%;
    text-align: center;
    color: #313131;
}
.main-message h1 {
    font-size: 2rem;
    line-height: 1.1rem;
}
.main-message h2 {
    font-size: 1.6rem;
    line-height: 1.1rem;
}

.main-message h2.chi-message {
    padding: 0 25px;
}
.filter-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: black;
}
.search-row, .filter-row {
    margin-top: 40px;
}
.search-row {
    display: none;
}
.textfield {
    -webkit-appearance: none;
    border: 2px solid #141e28;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #34495e;
    font-size: 1rem;
    padding: 0.5em;
    -webkit-transition: width .35s ease-in-out;
    -o-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    width: 30%;
}
.textfield:hover {
    border-color: #141e28;color: #141e28;outline-width: 0;
}
.textfield:focus {
    outline-color: #141e28;
}
input[type=search]:focus {
  width: 57%;
}
.filter-label {
    font-size: 2rem;
}
.filter-group p {
    font-size: 1.5rem;
}
button {
    font-size: 1rem;
}
.filter-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.filter-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.filter-group:nth-child(1) {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
}
.filter-group:nth-child(2) {
    display: none;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.filter-buttons, .sort-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
}
.search-group, .filter-buttons, .sort-buttons {
    margin-top: 20px;
}
.filter-buttons {
    border: none;
    width: 100%; /*adjust back to 95% later */
}
.filter-buttons button, .sort-buttons button {
    list-style-type: none;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.16),
    0 1px 2px rgba(0, 0, 0, 0.26);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.16),
    0 1px 2px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 52px;
    line-height: 50px;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: -webkit-box-shadow 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: box-shadow 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: box-shadow 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: box-shadow 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-box-shadow 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.filter-buttons button, .sort-buttons button {
    text-decoration: none;
    background: rgba(250, 250, 250, 1);
    border: none;
}
.filter-buttons button:nth-child(1), .sort-buttons button:nth-child(1) {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.filter-buttons button:last-child, .sort-buttons button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.filter-buttons button {
    font-family: Merriweather, serif;
    color: rgb(70,134,200);
}

.sort-buttons button {
    color: #34495e;
}
.filter-buttons button:hover {
    background-color: rgb(70,134,200);
    color: white;
}
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.tabcontent.active {
    display: block;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.filter-buttons .tablinks.active{
    color: white;
    background-color: rgb(70,134,200);
}
.filter-buttons .button.chi_tab {
    font-size: 1.3rem;
}
.sort-buttons button.active{
    color: white;
    background-color: #34495e;
}
.filter-buttons button:hover, .filter-buttons button:focus, .filter-buttons button:active {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index:2;
}
.sort-buttons button:hover, .sort-buttons button:focus, .sort-buttons button:active {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index:2;
}

.filter-buttons button:focus {
  outline: 0;
}
.sort-buttons button:focus {
  outline: 0;
}
.filter-buttons button .button-pulse {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  left: 0;
  margin: 0 -50%;
  position: absolute;
  top: 0;
  -webkit-transform: scaleX(0) scaleY(0);
          -ms-transform: scaleX(0) scaleY(0);
      transform: scaleX(0) scaleY(0);
}


.all_events {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.share-info {
    display: none;
}

/************************ Beginning of All Container News ***************************************
*************************************************************************************************
************************************************************************************************/
.filter-container {
    margin: 0 auto 30px;
}
.filter-container {
    width: 65%;
}

span.chi_nounderline {
    text-decoration: none;
}

.fa-whatsapp {
    background-color: #25D366;
}

.web__share {
    display: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: -webkit-transform 0.35s ease;
    -o-transition: transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}


@media screen and ( max-width: 1441px) and (orientation: landscape) {
    html {
        font-size: 22px;
    }
    .filter-container {
        width: 70%;
    }
}

@media screen and ( max-width: 1370px) and (orientation: landscape) {
    html {
        font-size: 20px;
    }
    .main-message {
        padding-top: 12%;
    }
}

@media screen and ( max-width: 1370px) and (max-height: 670px) {
    html {
        font-size: 18px;
    }
    .main-message {
        padding-top: 10%;
    }
}

@media screen and ( max-width: 1280px) {
    html {
        font-size: 20px;
    }
    .main-message {
        padding-top: 12%;
    }
    .filter-container {
        width: 77%;
    }
}

@media screen and ( max-width: 1281px) and (max-height: 670px) {
    html {
        font-size: 18px;
    }
    .main-message {
        padding-top: 10%;
    }
}

@media screen and ( max-width: 1281px) and (max-height: 580px) {
    .filter-container {
        width: 74%;
    }
}

@media screen and ( max-width: 1100px) {
    html {
        font-size: 16px;
    }
    .filter-container {
        width: 71%;
    }
}

@media screen and ( max-width: 1024px) {
    html {
        font-size: 16px;
    }
    .main-message {
        padding-top: 16%;
    }
    .main-message h1 {
        font-size: 2.5rem;
    }
    .main-message h2 {
        font-size: 1.8rem;
    }
    .filter-container {
        width: 90%;
    }
    .textfield {
        height: 50px;
        font-size: 1.2rem;
    }
    .social-container p {
        font-size: 3rem;
    }
}

@media screen and ( max-width: 1024px) and ( max-height: 770px) {
    html {
        font-size: 15px;
    }
    .main-message {
        padding-top: 12%;
    }
}

@media screen and ( max-width: 1024px) and ( max-height: 680px) {
    html {
        font-size: 12px;
    }
}

@media screen and ( max-width: 1024px) and ( max-height: 510px) {
    html {
        font-size: 10px;
    }
    .main-message {
        padding-top: 10%;
    }
    .filter-container {
        width: 72%;
    }
    .textfield {
        width: 40%;
        font-size: 1.8rem;
    }
    .filter-group p {
        font-size: 2rem;
    }
}

@media screen and ( max-width: 970px) and (max-height: 490px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 800px) and (max-height: 1140px) {
    html {
        font-size: 14px;
    }
    .main-message h1 {
        font-size: 2rem;
    }
    .main-message h2 {
        font-size: 1.6rem;
    }
    .filter-container {
        width: 94%;
    }
}

@media screen and ( max-width: 768px) and (max-height: 930px) {
    html {
        font-size: 12px;
    }
}

@media screen and ( max-width: 610px) and (max-height: 940px) {
    .main-message {
        padding-top: 22%;
    }
    .main-message h1 {
        font-size: 1.6rem;
        margin: 15px auto;
    }
    .main-message h2 {
        font-size: 1.2rem;
        margin: 10px auto;
    }
    .filter-container {
/*        margin-bottom: 50px;*/
    }
    .filter-group p {
        font-size: 2rem;
    }
    .textfield {
        width: 55%;
        height: 40px;
        font-size: 1.4rem;
    }
    input[type=search]:focus {
        width: 100%;
    }
    .filter-buttons button, .sort-buttons button {
        height: 50px;
    }
    .filter-buttons {
        width: 100%;
    }
    .filter-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .filter-group:nth-child(1) {
/*        margin-bottom: 40px;*/
    }
    .filter-container {
        width: 88%;
    }
}

@media screen and ( max-width: 610px) and (max-height: 850px) {
    html {
        font-size: 12px;
    }
}

@media screen and ( max-width: 568px) {
    html {
        font-size: 10px;
    }
}
/*----------- Samsung Mega -----------------*/
@media screen and ( max-width: 480px) and (max-height: 900px) {

}

@media screen and ( max-width: 430px) and (max-height: 740px) {
    html {
        font-size: 14px;
    }
    .main-message h1 {
        font-size: 1.4rem;
        line-height: 1.3em;
        margin: 10px auto;
    }
    .main-message h2 {
        font-size: 1.2rem;
        line-height: 1.3em;
    }
    .filter-label, .filter-group p {
        font-size: 1.7rem;
    }
    .filter-row {
        margin-top: 35px;
    }
/*
    .filter-container, .filter-group:nth-child(1) {
        margin-bottom: 35px;
    }
*/
    .filter-buttons button:nth-child(4) {
        -webkit-box-flex: 0.7;
            -ms-flex: 0.7;
                flex: 0.7;
    }
    .filter-buttons button, .sort-buttons button {
        font-size: 0.9rem;
        height: 45px;
    }


}

@media screen and ( max-width: 430px) and (max-height: 660px) {

}
@media screen and ( max-width: 380px) {
    html {
        font-size: 12px;
    }
    .main-message h1 {
        padding: 0 8%;
    }
    .main-message h2 {
        font-size: 1rem;
        padding: 0 6%;
    }
/*
    .filter-container {
        padding-top: 14%;
    }
*/
    .filter-row {
        margin-top: 30px;
    }
/*
    .filter-container, .filter-group:nth-child(1) {
        margin-bottom: 30px;
    }
*/
    .filter-label, .filter-group p {
        font-size: 1.6rem;
    }
    .filter-buttons button, .sort-buttons button {
        font-size: 0.9rem;
        height: 40px;
        line-height: 43px;
    }
}

@media screen and ( max-width: 380px) and ( max-height: 540px) {
    html {
        font-size: 11px
    }
}

@media screen and ( max-width: 360px) and ( max-height: 640px) {

}


@media screen and ( max-width: 360px) and ( max-height: 530px) {

}

@media screen and ( max-width: 320px) and ( max-height: 570px) {
    .filter-container {
        width: 92%;
    }
}

@media screen and ( max-width: 320px) and ( max-height: 480px) {

}
