.pop-message {
    display: none;
    background-color: rgba(245,245,245,1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1006;
}

.pop-container {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

.pop-pic {
    height: 100vh;
    width: 100%;
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1511521115/Christmas/christmas8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pop-container .pop-row {
    position: absolute;
    height: 100%;
    top: 45%;
    left: 5%;
    width: 45%;
}

.pop-container h2 {
    font-family: Merriweather, serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: black;
    margin-bottom: 20px;
}
.pop-container a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-family: Merriweather, serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: rgb(216,23,46);
    border-radius: 4px;
    padding: 0.6em 0.8em;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    opacity: 0.90;
}

.pop-container a:hover {
    opacity: 1;
}

/****** Rotate Screen Section ********/

.rotate-screen {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    z-index: 1005;
}
.rotate-container {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

.rotate-pic {
    height: 23vh;
    width: 23vh;
    background-image: url('../img/History/rotate.png');
    background-size: contain;
    margin: 0 auto;
}

.rotate-container h2 {
    color: black;
    margin: 10px 0;
    text-align: center;
}
