/*----- This theme4 consist -----------------
- 1.Default Introduction design(Section 1)
- 2."Join" Button
- 3.Share Info(Section 2) 
- 4.25 pictures & Facebook Link(last Section)
Examples: Boys Bridgade, Survival Youth Camp
------------------------------------------------*/

/* Minify of Basic.css */

.pop-container,
.top-container {
    -webkit-transform: perspective(1px) translateY(-50%)
}

.footer,
.top-nav {
    height: 10%;
    left: 0
}

.top-nav {
    position: absolute;
    top: 0;
    padding: 30px 0;
    width: 100%;
    min-height: 50px;
    max-height: 100px
}

.top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0 30px;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
            transform: perspective(1px) translateY(-50%)
}

.link,
.text-block {
    display: inline-block;
    font-family: Merriweather, serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1em;
    color: #fff
}

.text-block {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    text-align: left
}

.link,
.social-media-text {
    -webkit-box-flex: 1;
    text-align: right
}

.link {
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
    text-decoration: none
}

@media screen and (max-width:1370px) and (orientation:landscape) {
    .link,
    .text-block {
        font-size: 35px
    }
}

@media screen and (max-width:1370px) and (max-height:670px) {
    .link,
    .text-block {
        font-size: 25px
    }
}

@media screen and (max-width:1280px) {
    .link,
    .text-block {
        font-size: 32px
    }
}

@media screen and (max-width:1280px) and (max-height:800px) {
    .link,
    .text-block {
        font-size: 28px
    }
}

@media screen and (max-width:1280px) and (max-height:670px) {
    .link,
    .text-block {
        font-size: 25px
    }
}

@media screen and (max-width:1100px) {
    .top-nav {
        padding: 15px 0
    }
    .top-container {
        padding: 0 25px
    }
    .link,
    .text-block {
        font-size: 20px
    }
}

@media screen and (max-width:1024px) {
    .top-nav {
        padding: 30px 0
    }
    .top-container {
        padding: 0 30px
    }
    .top-nav .text-block,
    .top-nav a {
        font-size: 35px
    }
}

@media screen and (max-width:1024px) and (max-height:770px) {
    .top-nav .text-block,
    .top-nav a {
        font-size: 25px
    }
}

@media screen and (max-width:1024px) and (max-height:510px) {
    .top-nav .text-block,
    .top-nav a {
        font-size: 22px
    }
}

@media screen and (max-width:990px) {
    .top-nav .text-block,
    .top-nav a {
        font-size: 20px
    }
}

@media screen and (max-width:800px) and (max-height:1140px) {
    .top-nav .text-block,
    .top-nav a {
        font-size: 30px
    }
}

@media screen and (max-width:740px) and (max-height:430px) {
    .top-nav {
        padding: 15px 0
    }
    .top-container {
        padding: 0 20px
    }
    .top-nav .text-block,
    .top-nav a {
        font-size: 20px
    }
}

@media screen and (max-width:610px) and (max-height:850px) {
    .top-container {
        padding: 0 25px
    }
    .top-nav .text-block,
    .top-nav a {
        font-size: 25px
    }
}

@media screen and (max-width:430px) and (max-height:840px) {
    .top-nav {
        max-height: 60px
    }
    .top-nav .text-block,
    .top-nav a {
        font-size: 20px
    }
}

@media screen and (max-width:430px) and (max-height:630px) {
    .top-nav {
        padding: 15px 0;
        min-height: 40px;
        max-height: 50px
    }
    .top-container {
        padding: 0 20px
    }
    .top-nav .text-block,
    .top-nav a {
        font-size: 18px
    }
}

@media screen and (max-width:380px) {
    .top-nav {
        padding: 15px 0;
        min-height: 40px;
        max-height: 50px
    }
    .top-container {
        padding: 0 20px
    }
    .top-nav .text-block,
    .top-nav a {
        font-size: 17px
    }
}

@media screen and (max-width:320px) and (max-height:568px) {
    .top-container {
        padding: 0 15px
    }
    .top-nav .text-block,
    .top-nav a {
        font-size: 16px
    }
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px
}

.w-container:after,
.w-container:before {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

@media screen and (max-width:1441px) {
    .w-container {
        max-width: 80%
    }
}

@media screen and (max-width:800px) {
    .w-container {
        max-width: 85%
    }
}

.footer {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    padding: 10px 0;
    background-color: #000;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 55px;
    max-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}

.pop-container a,
.pop-container h2 {
    font-family: Merriweather, serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.pop-message,
.pop-pic {
    height: 100vh;
    width: 100%
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.social-media-text {
    display: inline-block;
    padding-right: 10px;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    font-size: 20px;
    border-radius: 4px
}

.social-icons {
    display: inline-block;
    padding-left: 10px;
    margin-left: 0;
    margin-top: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: left
}

.social-icon-link {
    padding: 0 10px 0 0;
    color: #000;
    opacity: .66;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.social-icon-link:hover {
    opacity: 1
}

.social-icon-link img {
    width: 30px;
    max-width: 100%
}

@media screen and (max-width:1280px) and (max-height:670px) {
    .footer {
        padding: 5px
    }
}

@media screen and (max-width:1024px) {
    .social-media-text {
        font-size: 30px
    }
    .social-icon-link img {
        width: 40px
    }
    .footer {
        padding: 15px 0
    }
}

@media screen and (max-width:1024px) and (max-height:770px) {
    .footer {
        padding: 10px 0
    }
    .social-media-text {
        font-size: 20px
    }
    .social-icon-link img {
        width: 30px
    }
}

@media screen and (max-width:1024px) and (max-height:510px) {
    .social-media-text {
        font-size: 15px
    }
    .social-icons {
        padding-left: 5px
    }
    .social-icon-link {
        padding-right: 5px
    }
    .social-icon-link img {
        width: 21px
    }
    .footer {
        padding: 0
    }
}

@media screen and (max-width:1100px) and (max-height:520px) {
    .social-media-text {
        font-size: 16px
    }
    .social-icon-link img {
        width: 24px
    }
    .footer {
        padding: 0;
        min-height: 50px
    }
}

@media screen and (max-width:970px) and (max-height:490px) {
    .footer {
        min-height: 50px
    }
    .social-icon-link img {
        width: 20px
    }
}

@media screen and (max-width:810px) {
    .social-media-text {
        font-size: 25px
    }
    .social-icon-link img {
        width: 38px
    }
}

@media screen and (max-width:610px) and (max-height:970px) {
    .footer {
        padding: 15px 0
    }
    .social-media-text {
        font-size: 20px
    }
    .social-icon-link img {
        width: 28px
    }
}

@media screen and (max-width:480px) {
    .footer {
        min-height: 45px;
        max-height: 55px;
        padding: 10px 0
    }
    .social-media-text {
        padding-right: 5px;
        font-size: 16px
    }
    .social-icons {
        padding-left: 5px
    }
    .social-icon-link {
        padding-right: 5px
    }
    .social-icon-link img {
        width: 20px
    }
}

@media screen and (max-width:430px) and (max-height:655px) {
    .social-media-text {
        font-size: 15px
    }
}

@media screen and (max-width:380px) {
    .social-media-text {
        font-size: 14px
    }
}

@media screen and (max-width:360px) {
    .social-media-text {
        font-size: 13px
    }
    .social-icon-link img {
        width: 18px
    }
}

@media screen and (max-width:320px) {
    .footer {
        max-height: 50px
    }
    .social-media-text {
        font-size: 12px
    }
    .social-icon-link img {
        width: 17px
    }
}

.pop-message {
    display: none;
    background-color: rgba(245, 245, 245, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1006
}

.pop-container {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
            transform: perspective(1px) translateY(-50%)
}

.pop-pic {
    background-image: url(http://res.cloudinary.com/trippleninja/image/upload/v1511521115/Christmas/christmas8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.pop-container .pop-row {
    position: absolute;
    height: 100%;
    top: 45%;
    left: 5%;
    width: 45%
}

.pop-container h2 {
    color: #000;
    margin-bottom: 20px
}

.pop-container a {
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
    background-color: #d8172e;
    border-radius: 4px;
    padding: .6em .8em;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    opacity: .9
}

.pop-container a:hover {
    opacity: 1
}

.rotate-screen {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    z-index: 1005
}

.rotate-container {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%)
}

.rotate-pic {
    height: 23vh;
    width: 23vh;
    background-image: url(../History/img/rotate.png);
    background-size: contain;
    margin: 0 auto
}

.rotate-container h2 {
    color: #000;
    margin: 10px 0;
    text-align: center
}

.preloader-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #f0f2f2;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 10000
}

.preloader {
    position: absolute;
    top: 50%;
    left: 41%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
}

.pulse {
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #fff;
    background: #141e28;
    border-radius: 50%;
    -webkit-animation: animate 2s linear infinite;
            animation: animate 2s linear infinite
}

@-webkit-keyframes animate {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(20, 30, 40, .7), 0 0 50px 0 rgba(20, 30, 40, .7);
                box-shadow: 0 0 0 0 rgba(20, 30, 40, .7), 0 0 50px 0 rgba(20, 30, 40, .7)
    }
    25% {
        -webkit-box-shadow: 0 0 0 50px rgba(20, 30, 40, .1.5), 0 0 0 10px rgba(20, 30, 40, .6);
                box-shadow: 0 0 0 50px rgba(20, 30, 40, .1.5), 0 0 0 10px rgba(20, 30, 40, .6)
    }
    540% {
        -webkit-box-shadow: 0 0 0 100px rgba(20, 30, 40, .1.5), 0 0 0 50px rgba(20, 30, 40, .6);
                box-shadow: 0 0 0 100px rgba(20, 30, 40, .1.5), 0 0 0 50px rgba(20, 30, 40, .6)
    }
    75% {
        -webkit-box-shadow: 0 0 0 200px rgba(20, 30, 40, 0), 0 0 0 100px rgba(20, 30, 40, 0);
                box-shadow: 0 0 0 200px rgba(20, 30, 40, 0), 0 0 0 100px rgba(20, 30, 40, 0)
    }
    100% {
        -webkit-box-shadow: 0 0 0 300PX rgba(20, 30, 40, 0), 0 0 0 200px rgba(20, 30, 40, 0);
                box-shadow: 0 0 0 300PX rgba(20, 30, 40, 0), 0 0 0 200px rgba(20, 30, 40, 0)
    }
}

@keyframes animate {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(20, 30, 40, .7), 0 0 50px 0 rgba(20, 30, 40, .7);
                box-shadow: 0 0 0 0 rgba(20, 30, 40, .7), 0 0 50px 0 rgba(20, 30, 40, .7)
    }
    25% {
        -webkit-box-shadow: 0 0 0 50px rgba(20, 30, 40, .1.5), 0 0 0 10px rgba(20, 30, 40, .6);
                box-shadow: 0 0 0 50px rgba(20, 30, 40, .1.5), 0 0 0 10px rgba(20, 30, 40, .6)
    }
    540% {
        -webkit-box-shadow: 0 0 0 100px rgba(20, 30, 40, .1.5), 0 0 0 50px rgba(20, 30, 40, .6);
                box-shadow: 0 0 0 100px rgba(20, 30, 40, .1.5), 0 0 0 50px rgba(20, 30, 40, .6)
    }
    75% {
        -webkit-box-shadow: 0 0 0 200px rgba(20, 30, 40, 0), 0 0 0 100px rgba(20, 30, 40, 0);
                box-shadow: 0 0 0 200px rgba(20, 30, 40, 0), 0 0 0 100px rgba(20, 30, 40, 0)
    }
    100% {
        -webkit-box-shadow: 0 0 0 300PX rgba(20, 30, 40, 0), 0 0 0 200px rgba(20, 30, 40, 0);
                box-shadow: 0 0 0 300PX rgba(20, 30, 40, 0), 0 0 0 200px rgba(20, 30, 40, 0)
    }
}

@media screen and (max-width:1280px) {
    .preloader {
        top: 55%
    }
    @media screen and (max-width:1024px) {
        .preloader {
            left: 50%
        }
    }
    @media screen and (max-width:970px) and (max-height:490px) {
        .pulse {
            font-size: 2.3rem
        }
    }
    @media screen and (max-width:768px) {
        .pulse {
            font-size: 1.8rem
        }
    }
}

/* Minify of jQuery Full Page CSS */

/*!
 * fullPage 2.9.4
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */

.fp-tableCell,
img {
    vertical-align: middle
}

.fb-container .tooltiptext,
.share-button,
.share-container,
.share-icon,
.youtube .fp-tableCell {
    text-align: center
}

#superContainer,
.fp-section,
.fp-slides,
.fp-tableCell {
    position: relative
}

.fp-enabled body,
html.fp-enabled {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent
}

#superContainer {
    height: 100%;
    -ms-touch-action: none;
    touch-action: none
}

.fp-section {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.fp-slide {
    float: left
}

.fp-slide,
.fp-slidesContainer {
    height: 100%;
    display: block
}

.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.fp-section.fp-table,
.fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%
}

.fp-tableCell {
    display: table-cell;
    width: 100%;
    height: 100%
}

.fp-slidesContainer {
    float: left;
    position: relative
}

.fp-controlArrow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -25px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#fp-nav,
.fp-slidesNav {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1
}

.fp-controlArrow.fp-prev {
    left: 20px;
    border-width: 25.5px 25px 25.5px 0;
    border-color: transparent rgba(250, 250, 250, 1) transparent transparent
}

.fp-controlArrow.fp-next {
    right: 20px;
    border-width: 25.5px 0 25.5px 25px;
    border-color: transparent transparent transparent rgba(250, 250, 250, 1)
}

.fp-scrollable {
    overflow: hidden;
    position: relative
}

.fp-scroller {
    overflow: hidden
}

.iScrollIndicator {
    border: 0!important
}

.fp-notransition {
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important
}

#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%
}

#fp-nav.right {
    right: 17px
}

#fp-nav.left {
    left: 17px
}

.fp-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
}

.fp-slidesNav.bottom {
    bottom: 17px
}

.fp-slidesNav.top {
    top: 17px
}

#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative
}

.fp-slidesNav ul li {
    display: inline-block
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer
}

.main-section,
.youtube {
    position: relative
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    width: auto;
    opacity: 1
}

#fp-nav ul li .fp-tooltip.right {
    right: 20px
}

#fp-nav ul li .fp-tooltip.left {
    left: 20px
}

.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell,
.fp-auto-height.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell,
.fp-responsive .fp-auto-height-responsive.fp-section {
    height: auto!important
}

html {
    font-family: Merriweather, serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%
}

.body {
    margin: 0;
    font-family: Oswald, sans-serif;
    min-height: 100%;
    background-color: #fff;
    font-size: .7rem;
    line-height: 1.45em;
    color: #333
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

img {
    border: 0;
    max-width: 100%;
    display: inline-block
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px
}

.w-container:after,
.w-container:before {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

@media screen and (max-width:1441px) {
    .w-container {
        max-width: 80%
    }
}

@media screen and (max-width:800px) {
    .w-container {
        max-width: 85%
    }
}

.main-section {
    left: 0;
    top: 0;
    height: 100vh;
    background-position: 50% 1%;
    background-size: cover;
    font-family: Merriweather, serif;
    color: #fff;
    font-weight: 700
}

.transparent-layer {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .1)
}

.previous {
    cursor: pointer
}

.share-info {
    padding: 30px 0;
    background-color: rgba(245, 245, 245, 1);
    color: #000
}

.share-pgraph {
    font-size: 1.5rem;
    line-height: 1.3em;
    padding-bottom: 20px;
    margin-bottom: 0
}

.share-button {
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1em;
    color: #fff;
    border-radius: 4px;
    background-color: #d8172e;
    padding: .6em .8em;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease
}

.share-button:hover {
    background-color: #23B5D3
}

.web__share {
    display: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .35s ease;
    -o-transition: transform .35s ease;
    transition: -webkit-transform .35s ease;
    transition: transform .35s ease;
    transition: transform .35s ease, -webkit-transform .35s ease
}

.fb-link,
.scroll-down,
.share-icon,
.slide-heading {
    display: inline-block;
    font-size: 1rem
}

.share-icon {
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    border-radius: 50%;
    text-decoration: none;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    outline: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24)
}

.share-icon:focus,
.share-icon:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .12), 0 3px 6px rgba(0, 0, 0, .24);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .12), 0 3px 6px rgba(0, 0, 0, .24);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.facebook {
    background-color: #3b5998
}

.twitter {
    background-color: #00abe3
}

.googleplus {
    background-color: #d3492c
}

.whatsapp {
    background-color: #25D366
}

.slide-container,
.youtube {
    background-color: #000
}

.facebook,
.googleplus,
.twitter,
.whatsapp {
    color: #fff
}

.facebook:hover,
.googleplus:hover,
.twitter:hover,
.whatsapp:hover {
    color: #eee
}

.youtube iframe {
    height: 100vh;
    width: 100%
}

.footer {
    height: 60px!important
}

.social-icons {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset
}

.pic-container {
    position: absolute;
    top: 8%;
    left: 8%
}

.slide-heading {
    line-height: 1.3em;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid #fff;
    border-radius: 4px;
    font-weight: 400;
    padding: .62em 1.24em;
    margin: 0
}

.footer.section .fp-tableCell {
    height: 45px!important
}

.fb-container,
.scroll-container,
.scroll2-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    z-index: 1000
}

.scroll2-container {
    bottom: 60px
}

.scroll2-container h1 {
    color: #000
}

.fb-link,
.scroll-down {
    font-weight: 300;
    line-height: 1em;
    margin: 0
}

.fb-link img,
.scroll-down img {
    width: 25px;
    margin-left: 5px
}

.fb-container a {
    font-size: .9rem;
    border-radius: 4px
}

.fb-container .tooltiptext {
    visibility: hidden;
    width: 160px;
    font-size: .8rem;
    background-color: rgba(59, 89, 152, 1);
    color: #fff;
    border-radius: 6px;
    padding: 10px 8px 14px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s
}

.fb-container .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(59, 89, 152, 1) transparent transparent
}

.fb-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1
}

.fb-container a {
    position: relative;
    color: rgba(59, 89, 152, 1);
    background: rgba(246, 246, 246, 1);
    font-weight: 700;
    padding: 10px 15px 8px;
    width: 180px;
    text-align: left
}

.fb-container a:hover {
    background: #fff
}

.fb-container a img {
    right: 10px;
    position: absolute;
    top: 5px;
    width: 25px
}

@media screen and (max-width:1441px) and (orientation:landscape) {
    html {
        font-size: 24px
    }
    .share-info {
        padding: 40px 0
    }
    .fb-container {
        bottom: 13px
    }
    .fb-container a {
        width: 208px
    }
    .fb-container a img {
        width: 28px;
        top: 6px
    }
}

@media screen and (max-width:1370px) and (orientation:landscape) {
    html {
        font-size: 25px
    }
    .pic-container {
        top: 3%;
        left: 3%
    }
    .fb-container {
        bottom: 30px
    }
    .fb-container a {
        width: 240px;
        font-size: 1rem;
        line-height: 1.2em
    }
    .fb-container a img {
        width: 34px;
        top: 7px
    }
    .fp-controlArrow.fp-prev {
        border-color: transparent rgba(250, 250, 250, 0) transparent transparent
    }
    .fp-controlArrow.fp-next {
        border-color: transparent transparent transparent rgba(250, 250, 250, 0)
    }
}

@media screen and (max-width:1370px) and (max-height:670px) {
    html {
        font-size: 20px
    }
    .pic-container {
        top: 8%;
        left: 8%
    }
    .fb-container a {
        width: 195px
    }
    .fb-container a img {
        width: 28px
    }
    .fp-controlArrow.fp-prev {
        border-color: transparent rgba(250, 250, 250, 1) transparent transparent
    }
    .fp-controlArrow.fp-next {
        right: 20px;
        border-color: transparent transparent transparent rgba(250, 250, 250, 1)
    }
}

@media screen and (max-width:1280px) {
    html {
        font-size: 22px
    }
    .fp-controlArrow.fp-prev {
        border-color: transparent rgba(250, 250, 250, 1) transparent transparent
    }
    .fp-controlArrow.fp-next {
        border-color: transparent transparent transparent rgba(250, 250, 250, 1)
    }
}

@media screen and (max-width:1281px) and (max-height:951px) {
    .fb-container a {
        width: 215px;
        padding: 14px 15px 8px
    }
}

@media screen and (max-width:1280px) and (max-height:800px) {
    html {
        font-size: 20px
    }
    .pic-container {
        top: 8%;
        left: 8%
    }
    .fb-container {
        bottom: 10px
    }
    .fb-container a {
        width: 195px;
        padding: 10px 15px 8px
    }
    .fb-container a img {
        width: 30px;
        top: 6px
    }
}

@media screen and (max-width:1280px) and (max-height:670px) {
    .pic-container {
        left: 6%
    }
    .fb-container {
        bottom: 15px
    }
}

@media screen and (max-width:1280px) and (max-height:580px) {
    html {
        font-size: 18px
    }
    .pic-container {
        left: 10%
    }
    .fb-container a {
        width: 180px
    }
    .fb-container a img {
        width: 28px
    }
}

@media screen and (max-width:1100px) {
    .pic-container {
        left: 9%
    }
    .share-info {
        padding: 30px 0
    }
    .scroll-container {
        bottom: 20px
    }
    .scroll2-container {
        bottom: 45px
    }
    .slide-heading {
        font-size: .9rem
    }
    .fb-container a {
        font-size: .8rem;
        padding: 10px 15px;
        width: 152px
    }
    .fb-container a img {
        width: 24px;
        top: 6px
    }
    .fp-controlArrow.fp-prev {
        left: 20px;
        border-width: 20.5px 20px 20.5px 0;
        border-color: transparent rgba(250, 250, 250, 1) transparent transparent
    }
    .fp-controlArrow.fp-next {
        right: 20px;
        border-width: 20.5px 0 20.5px 20px;
        border-color: transparent transparent transparent rgba(250, 250, 250, 1)
    }
}

@media screen and (max-width:1024px) {
    html {
        font-size: 28px
    }
    .share-button,
    .share-icon,
    .slide-heading {
        font-size: 1.2rem
    }
    .pic-container {
        top: 3%;
        left: 4%
    }
    .share-info {
        padding: 50px 0
    }
    .share-pgraph {
        padding-bottom: 35px
    }
    .youtube iframe {
        height: 60vh;
        width: 100%
    }
    .slide-heading {
        padding: 15px 20px
    }
    .scroll2-container {
        bottom: 80px
    }
    .fb-container {
        bottom: 30px
    }
    .fb-container a,
    .scroll-down {
        font-size: 1.1rem
    }
    .fb-container a {
        width: 290px;
        padding: 22px 20px 12px;
        border-radius: 8px
    }
    .fb-container a img {
        width: 42px;
        top: 12px
    }
    .fb-container .tooltiptext {
        font-size: 1rem;
        line-height: 1.2em;
        width: 220px;
        padding: 15px 8px;
        left: 47%
    }
    .fp-controlArrow.fp-prev {
        border-color: transparent rgba(250, 250, 250, 0) transparent transparent
    }
    .fp-controlArrow.fp-next {
        border-color: transparent transparent transparent rgba(250, 250, 250, 0)
    }
}

@media screen and (max-width:1024px) and (max-height:770px) {
    html {
        font-size: 20px
    }
    .fb-container a,
    .scroll-down,
    .slide-heading {
        font-size: 1rem
    }
    .pic-container {
        top: 3%;
        left: 3%
    }
    .share-info {
        padding: 40px 0
    }
    .share-pgraph {
        padding-bottom: 25px
    }
    .scroll2-container {
        bottom: 70px
    }
    .scroll-down img {
        width: 22px
    }
    .fb-container a {
        width: 200px;
        padding: 12px 16px 10px
    }
    .fb-container a img {
        width: 30px;
        top: 8px
    }
    .fb-container .tooltiptext {
        line-height: 1.2em;
        padding: 15px
    }
}

@media screen and (max-width:1024px) and (max-height:510px) {
    html {
        font-size: 16px
    }
    .pic-container {
        top: 4%;
        left: 3%
    }
    .share-info {
        padding: 30px 0
    }
    .share-pgraph {
        padding-bottom: 20px
    }
    .youtube iframe {
        height: 100vh;
        width: 100%
    }
    .scroll-down {
        font-size: 1.1rem
    }
    .scroll-container {
        bottom: 20px
    }
    .scroll2-container {
        bottom: 50px
    }
    .slide-heading {
        padding: 12px 18px
    }
    .fb-container {
        bottom: 15px
    }
    .fb-container a {
        font-size: 1rem;
        width: 165px;
        padding: 14px 15px 12px
    }
    .fb-container a img {
        width: 26px;
        top: 9px
    }
    .fp-controlArrow.fp-prev {
        border-width: 18.5px 18px 18.5px 0;
        border-color: transparent rgba(250, 250, 250, 1) transparent transparent
    }
    .fp-controlArrow.fp-next {
        border-width: 18.5px 0 18.5px 18px;
        border-color: transparent transparent transparent rgba(250, 250, 250, 1)
    }
}

@media screen and (max-width:800px) and (max-height:1140px) {
    .pic-container {
        top: 5%;
        left: 4%
    }
    .share-pgraph {
        font-size: 1.2rem
    }
    .fb-container a,
    .scroll-down,
    .share-button,
    .share-icon,
    .slide-heading {
        font-size: 1rem
    }
    .youtube iframe {
        height: 50vh;
        width: 100%
    }
    .scroll-down img {
        width: 32px
    }
    .fb-container a {
        width: 265px;
        padding: 18px 18px 12px
    }
    .fb-container a img {
        width: 40px;
        top: 10px
    }
}

@media screen and (max-width:768px) {
    .pic-container {
        top: 4%;
        left: 6%
    }
    .fb-container a {
        width: 265px
    }
    .fb-container {
        bottom: 25px
    }
}

@media screen and (max-width:610px) and (max-height:940px) {
    .share-pgraph {
        font-size: 1.1rem
    }
    .share-button,
    .share-icon {
        font-size: .9rem
    }
    .fb-container a,
    .scroll-down,
    .slide-heading {
        font-size: .8rem
    }
    .scroll-down img {
        width: 26px
    }
    .fb-container a {
        width: 216px;
        padding: 16px 16px 12px
    }
    .fb-container a img {
        width: 32px;
        top: 9px
    }
}

@media screen and (max-width:430px) and (max-height:840px) {
    .share-button,
    .share-icon {
        font-size: .9rem
    }
    .fp-controlArrow.fp-prev {
        left: 10px;
        border-width: 19.5px 14px 19.5px 0!important
    }
    .fp-controlArrow.fp-next {
        right: 10px;
        border-width: 19.5px 0 19.5px 14px!important
    }
    .scroll-down img {
        width: 20px
    }
    .scroll2-container {
        bottom: 60px
    }
    .scroll-container {
        font-size: .9rem;
        bottom: 15px
    }
    .slide-heading {
        font-size: .8rem;
        padding: 12px 16px
    }
    .fb-container a {
        font-size: .7rem;
        border-radius: 4px;
        width: 145px;
        padding: 13px 12px 11px
    }
    .fb-container a img {
        width: 23px;
        top: 7px
    }
    .fb-container .tooltiptext {
        font-size: .9rem;
        padding: 10px
    }
}

@media screen and (max-width:430px) and (max-height:655px) {
    .scroll-container .scroll-down img,
    .scroll2-container .scroll-down img {
        width: 18px;
        height: 18px
    }
    .fb-container a {
        width: 150px;
        padding: 13px 15px 9px
    }
    .scroll-down {
        font-size: .8rem
    }
}

@media screen and (max-width:430px) and (max-height:630px) {
    html {
        font-size: 18px
    }
    .scroll-container .scroll-down img,
    .scroll2-container .scroll-down img {
        width: 15px;
        height: 15px
    }
    .slide-heading {
        padding: 8px 12px
    }
    .fb-container {
        bottom: 20px
    }
    .fb-container a {
        width: 130px;
        padding: 12px 10px 9px
    }
    .fb-container a img {
        width: 21px;
        top: 7px
    }
}

@media screen and (max-width:380px) {
    .social-icons {
        -webkit-transform: perspective(1px) translateY(-8%)!important;
        transform: perspective(1px) translateY(-8%)!important
    }
    .fb-link,
    .scroll-down,
    .slide-heading {
        font-size: .7rem
    }
    .slide-heading {
        padding: 10px 12px
    }
    .fb-container a {
        width: 140px;
        padding: 12px 10px 8px
    }
    .fb-container a img {
        width: 21.5px;
        top: 7px
    }
}

@media screen and (max-width:380px) and (max-height:560px) {
    .slide-heading {
        padding: 8px 10px
    }
    .fb-container a {
        width: 130px;
        padding: 12px 10px 9px
    }
    .fb-container a img {
        right: 8px
    }
}

@media screen and (max-width:380px) and (max-height:540px) {
    .scroll-container {
        bottom: 10px
    }
}

@media screen and (max-width:360px) and (max-height:670px) {
    .scroll-container .scroll-down img,
    .scroll2-container .scroll-down img {
        width: 18px;
        height: 18px
    }
}

@media screen and (max-width:360px) and (max-height:640px) {
    .share-button,
    .share-icon {
        font-size: .8rem
    }
    .fb-container {
        bottom: 20px
    }
}

@media screen and (max-width:360px) and (max-height:571px) {
    .fb-container a {
        width: 130px;
        padding: 12px 10px 9px
    }
}

@media screen and (max-width:360px) and (max-height:560px) {
    .share-info {
        padding: 30px 0
    }
    .share-button,
    .share-icon {
        font-size: .9rem
    }
}

@media screen and (max-width:320px) and (max-height:568px) {
    .footer.section .fp-tableCell {
        height: 40px!important
    }
    .slide-heading {
        padding: 8px 10px
    }
    .share-info {
        padding: 30px 0
    }
    .share-pgraph {
        padding-bottom: 20px
    }
    .fb-container {
        bottom: 20px
    }
    .fp-controlArrow.fp-prev {
        border-color: transparent rgba(250, 250, 250, 0) transparent transparent
    }
    .fp-controlArrow.fp-next {
        border-color: transparent transparent transparent rgba(250, 250, 250, 0)
    }
}

@media screen and (max-width:320px) and (max-height:500px) {
    .fb-container {
        bottom: 15px
    }
}


/* ==========================================================================
   Start of custom CSS
   ========================================================================== */

.main-section {
    background-position: 50% 100%;
}

.transparent-layer {
    background-color: rgba(0, 0, 0, .25);
}

.verse-container {
    position: absolute;
    top: 10%;
    display: block;
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.verse-container:hover {
    border-radius: 4px;
}

.topic,
.verse-pgraph {
    line-height: 1.2em;
    font-weight: 300;
    margin-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

.topic {
    font-size: 1.8rem;
}

.verse-pgraph {
    font-size: 1.7rem;
}

.join {
    margin-top: 30px;
}

.join a {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2em;
    text-decoration: none;
    color: white;
    padding: 0.6em;
    border: 1px solid white;
    border-radius: 4px;
}

.join a:hover {
    color: rgba(255, 105, 180, 1);
    background-color: white;
    font-weight: bold;
}


@media screen and (max-width: 1441px) and (orientation: landscape) {
    .verse-pgraph {
        font-size: 1.4rem;
    }
}

@media screen and ( max-width: 1024px) {
    .topic {
        font-size: 2rem;
    }
}

@media screen and ( max-width: 800px) and (max-height: 1140px) {
    .topic {
        font-size: 1.6rem;
    }
    .verse-pgraph {
        font-size: 1.4rem;
        padding-bottom: 0;
    }
}

@media screen and ( max-width: 768px) {
    .topic {
        font-size: 1.4rem;
    }
    .verse-pgraph {
        font-size: 1.3rem;
        line-height: 1.2em;
    }
}

@media screen and ( max-width: 610px) and ( max-height: 940px) {
    .topic {
        font-size: 1.2rem;
    }
    .verse-pgraph {
        font-size: 1rem;
    }
}

@media screen and ( max-width: 430px) and ( max-height: 840px) {
    .footer {
        padding: 0;
    }
}

@media screen and ( max-width: 380px) and ( max-height: 670px) {
    .topic {
        font-size: 1.1rem;
    }
    .verse-pgraph {
        font-size: 0.9rem;
    }
}

@media screen and ( max-width: 360px) and ( max-height: 670px) {
    .topic {
        font-size: 1rem;
    }
    .verse-pgraph {
        font-size: 0.8rem;
    }
}

@media screen and ( max-width: 320px) and ( max-height: 480px) {
    .fb-container {
        bottom: 10px;
    }
}

/* End of Footer & Scroll-Container */

@media screen and ( max-width: 1280px) and (max-height: 800px) {}

@media screen and ( max-width: 1280px) and (max-height: 670px) {
    .join a {
        font-size: 1.2rem;
    }
}

@media screen and ( max-width: 1100px) {}

@media screen and ( max-width: 1024px) {
    .topic {
        font-size: 2rem;
    }
    .verse-pgraph {
        font-size: 1.6rem;
    }
    .join a {
        font-size: 1.3rem;
    }
}

@media screen and ( max-width: 1024px) and ( max-height: 770px) {
    .verse-pgraph {
        font-size: 1.5rem;
    }
    .join a {
        font-size: 1.2rem;
    }
}

@media screen and ( max-width: 1024px) and ( max-height: 680px) {}

@media screen and ( max-width: 1024px) and ( max-height: 510px) {
    .join {
        margin-top: 20px;
    }
}

@media screen and ( max-width: 970px) and (max-height: 490px) {
    .join a {
        font-size: 1rem;
        font-weight: bold;
        color: rgba(255, 105, 180, 1);
        background-color: white;
        opacity: 0.95;
    }
    .join a:hover {
        opacity: 1;
    }
}

@media screen and ( max-width: 800px) and (max-height: 1140px) {
    .topic {
        font-size: 1.6rem;
    }
    .verse-pgraph {
        font-size: 1.4rem;
        padding-bottom: 10px;
        line-height: 1.25em;
    }
    .join a {
        font-size: 1.2rem;
        font-weight: bold;
        color: rgba(255, 105, 180, 1);
        background-color: white;
        opacity: 0.95;
    }
    .join a:hover {
        opacity: 1;
    }
}

@media screen and ( max-width: 768px) {
    .topic {
        font-size: 1.5rem;
    }
    .verse-pgraph {
        font-size: 1.3rem;
    }
    .join a {
        font-size: 1rem;
    }
}


@media screen and ( max-width: 610px) and ( max-height: 940px) {
    .top-nav .text-block,
    .top-nav a {
        font-size: 0.9rem;
    }
    .topic {
        font-size: 1.1rem;
    }
    .verse-pgraph {
        font-size: 0.9rem;
        padding-left: 10%;
        padding-right: 10%;
    }
    .join a {
        font-size: 0.85rem;
    }
}

@media screen and ( max-width: 610px) and (max-height: 850px) {
    .verse-pgraph {
        font-size: 0.9rem;
    }
}

@media screen and ( max-width: 430px) and (max-height: 840px) {
    .verse-pgraph {
        font-size: 1rem;
        padding-bottom: 5px;
    }
    .join {
        margin-top: 10px;
    }
    .join a {
        font-size: 0.9rem;
    }
}

@media screen and ( max-width: 430px) and ( max-height: 655px) {
    .verse-pgraph {
        font-size: 0.9rem;
    }
    .join a {
        font-size: 0.85rem;
    }
}

@media screen and ( max-width: 430px) and ( max-height: 630px) {
    .topic {
        font-size: 1.2rem;
    }
}

@media screen and ( max-width: 380px) {
    .topic,
    .verse-pgraph {
        padding-left: 2%;
        padding-right: 2%;
    }
    .verse-pgraph {
        font-size: 0.85rem;
    }
    .join a {
        font-size: 0.7rem;
    }
}


@media screen and ( max-width: 360px) and ( max-height: 530px) {
    .verse-pgraph {
        padding-bottom: 10px;
    }
}

@media screen and ( max-width: 320px) and ( max-height: 568px) {
    .verse-pgraph {
        padding-bottom: 15px;
    }
}

@media screen and ( max-width: 320px) and ( max-height: 460px) {
    .verse-pgraph {
        padding-bottom: 5px;
    }
}