---
layout: default
---
<div class="latestNews">
    <div class="events-icon">
        <a href="#"><img src="../assets/img/news.png"></a>
        <h2>10 Berita Terkini</h2>
        <form class="refreshButton">
            <input TYPE="button" onClick="history.go(0)" VALUE="Refresh">
        </form>
    </div>
    <div class="newsSlider">
        <div class="slideContainer">
            <!--                        BMpar or slidePhoto-->
            <div class="slidePhoto">
                <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1533973530/Download/BM1.jpg" alt="" /></div>
                <div class="slideDescription">
                    <h5>1</h5>
                    <h4>40 Hari Puasa & Doa NECF</h4>
                    <h2>Buku Doa RM3.00; Sila dapatkan daripada Pn Liveliah atau muat turun dari laman web COGS</h2>
                    <p>07 Ogos - 15 Sept 2018</p>
                </div>
            </div>
            <div class="slidePhoto">
                <div class="slideimg"><img src="News/img/news/baptism2.jpg" alt="" /></div>
                <div class="slideDescription">
                    <h5>2</h5>
                    <h4>Kelas Pembatisan Kumpulan 5</h4>
                    <h2>Pengajar: Cik Paulina David<br>Bilik Mesyuarat 12.00 Petang;
                    </h2>
                    <p>26 Ogos 2018 (Ahad)</p>
                </div>
            </div>
            <div class="slidePhoto">
                <div class="slideimg"><img src="http://res.cloudinary.com/trippleninja/image/upload/v1527927734/News%20Images/synod.jpg" alt="" /></div>
                <div class="slideDescription">
                    <h5>3</h5>
                    <h4>SINOD DIOSIS</h4>
                    <h2>Tempat: Katedral All Saints, Kota Kinabalu</h2>
                    <p>28 - 31 Ogos 2018</p>
                </div>
            </div>
            <div class="slidePhoto">
                <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1533362571/News%20Images/cogs3.jpg" alt="" /></div>
                <div class="slideDescription">
                    <h5>4</h5>
                    <h4>Program Penetapan - Raptai</h4>
                    <h2>Calon & Saksi wajib hadir;<br>Gereja - 11:45 Pagi;</h2>
                    <p>02 Sept 2018 (Ahad)</p>
                </div>
            </div>
            <div class="slidePhoto">
                <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1532758868/News%20Images/stmichael.jpg" alt="" /></div>
                <div class="slideDescription">
                    <h5>5</h5>
                    <h4>Hari Bersame Rektor</h4>
                    <h2>Semua calon penetapan adalah wajib untuk hadir;<br>Gereja St Michael - 1:30 Petang;</h2>
                    <p>02 Sept 2018 (Ahad)</p>
                </div>
            </div>
            <div class="slidePhoto">
                <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1535194442/News%20Images/St_Thomas.jpg" alt="" /></div>
                <div class="slideDescription">
                    <h5>6</h5>
                    <h4>Persekutuan Bersama Tetamu Sarawak (Gereja St Thomas)</h4>
                    <h2>Persekutuan makan (Pot Bless), tarian, nyanyian, persembahan tetamu dan banyak lagi; Dewan Barrett, 6.30 Petang;</h2>
                    <p>02 Sept 2018 (Ahad)</p>
                </div>
            </div>
            <div class="slidePhoto">
                <div class="slideimg"><img src="News/img/news/noservice.jpg" alt="" /></div>
                <div class="slideDescription">
                    <h5>7</h5>
                    <h4>Kebaktian Penetapan</h4>
                    <h2>Masa: 7:30 Malam;<br>Tempat: Gereja;</h2>
                    <p>08 Sept 2018 (Sabtu)</p>
                </div>
            </div>
            <div class="slidePhoto">
                <div class="slideimg"><img src="http://res.cloudinary.com/trippleninja/image/upload/v1523091903/News%20Images/ATI.jpg" alt="" /></div>
                <div class="slideDescription">
                    <h5>8</h5>
                    <h4>ATI-E</h4>
                    <h2>Kelas akan bermula 09 Sept, Ahad, Dewan Agape, COGS<br>Pelajar kredit - 5.00 Petang;<br>Semua pelajar - 7.00 Malam</h2>
                    <p>09 - 11 Sept 2018</p>
                </div>
            </div>
            <div class="slidePhoto">
                <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1535194471/News%20Images/becomeThem.jpg" alt="" /></div>
                <div class="slideDescription">
                    <h5>9</h5>
                    <h4>Latihan Pemimpin Awam</h4>
                    <h2>Selasa-Jumaat, PLBT Yuran RM55.00<br>Tema: Dekad Penginjilan & Pemuridan Sila berdaftar dengan Rev Timithy
                    </h2>
                    <p>11 - 14 Sept 2018</p>
                </div>
            </div>
            <div class="slidePhoto">
                <div class="slideimg"><img src="http://www.cogssandakan.com/News/img/basketball.jpg" alt="" /></div>
                <div class="slideDescription">
                    <h5>10</h5>
                    <h4>Sukan Bola Keranjang</h4>
                    <h2>Mohon kepada Jemaat untuk TIDAK MELETAKKAN kereta anda pada masa 4.30 petang - 7.30 malam di atas gelanggang bola keranjang gereja. Harap maklum.</h2>
                    <p>Setaip Ahad</p>
                </div>
            </div>
            <div class="progress-bar"></div>
        </div>
    </div>
</div>
