---
layout: default
---
<section class="section" id="announcements">
    <div class="adjust-padding-lr">
        <div class="section-title-group">
            <h2 class="centered section-heading">Pengumuman</h2>
            <div class="center section-subheading">Semua berita terkini & acara utama<br>(Tarikh Dikemaskini: <strong>22 Sept 2018</strong>)</div>
        </div>

        <div class="latestNews">
            <div class="events-icon">
                <a href="#"><img src="{{site.baseurl}}/assets/img/news.png"></a>
                <h2>10 Berita Terkini</h2>
                <form class="refreshButton">
                    <input TYPE="button" onClick="history.go(0)" VALUE="Refresh">
                </form>
            </div>
            <div class="newsSlider">
                <div class="slideContainer">
                    <!--                        BMpar or slidePhoto-->
                    <div class="BMpar">
                        <div class="slideimg"><img src="../assets/img/baptism2.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>1</h5>
                            <h4>Kelas Pembatisan Kumpulan 5</h4>
                            <h2>Kelas HARI INI bersambung semula 12.00 tengahari, Bilik Mesyuarat Taklimat Pembaptisan akan diadakan 30 Sept, Ahad, 9.00 pagi, Dewan Barrett.
                            </h2>
                            <p>23 September (Ahad)</p>
                        </div>
                    </div>
                    <div class="BMpar">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1537007768/News%20Images/prayer1a.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>2</h5>
                            <h4>Pertemuan Doa (KPKKDOS)</h4>
                            <h2>Konferensi Penyembahan Kanak-Kanak (KPKKDPS), Gereja Anglikan Indah, 7.30 Malam</h2>
                            <p>24 September (Isnin)</p>
                        </div>
                    </div>
                    <div class="BMpar">
                        <div class="slideimg"><img src="http://res.cloudinary.com/trippleninja/image/upload/v1526657032/News%20Images/meeting1.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>3</h5>
                            <h4>Mesyuarat PCC</h4>
                            <h2>Bilik Mesyuarat, 7.30 Malam</h2>
                            <p>28 September (Jumaat)</p>
                        </div>
                    </div>
                    <div class="BMpar">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1536392925/News%20Images/cogs1.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>4</h5>
                            <h4>Sambutan BM COGS KE-10</h4>
                            <h2>Pot Bless - Rujuk Kelompok Penggembalaan Maklumat lanjut dari semasa ke semasa; Dewan Barrett - 7.30 Malam
                            </h2>
                            <p>06 Oktober (Sabtu)</p>
                        </div>
                    </div>
                    <div class="BMpar">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1536392439/News%20Images/marriage.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>5</h5>
                            <h4>Kursus Pra Kahwin</h4>
                            <h2>Yuran RM100.00; Rumah Paderi - 4.00 Petang;
                            </h2>
                            <p>07 Oktober (Ahad)</p>
                        </div>
                    </div>
                    <div class="BMpar">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1537601469/News%20Images/freedom.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>6</h5>
                            <h4>Seminar Pembebasan “Berjalan dalam Kekudusan”</h4>
                            <h2>Penceramah: Rev Philip Tan (Australia); Dewan Barrett. Percuma. Terjemahan dari English ke BM</h2>
                            <p>13 Oktober (Sabtu)</p>
                        </div>
                    </div>
                    <div class="BMpar">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1527927017/VisionSchool/vision-school.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>7</h5>
                            <h4>Pengumpulan Dana untuk Sekolah Visi</h4>
                            <h2>Mendorong semua jemaat BM terlibat dalam pengumpulan dana Kos Operasi Sekolah Visi. Sila dapatkan borang daripada Rev Timithy @ En Janikah. Serahkan kepada Pn Liveliah.</h2>
                            <p>Tarikh Akhir Sasaran: November 2018</p>
                        </div>
                    </div>
                    <div class="BMpar">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1536391687/Kanak%20BM/Kanak_Konferensi1.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>8</h5>
                            <h4>Konferensi Penyembahan Kanak Kanak DOS</h4>
                            <h2>Dewan Sekolah Visi, Yuran: RM80.00. Maklumat lanjut sila hubungi Pn Fidelia (011-2524 4194) & Cik Rozalyn Adun (014-373 6047)
                            </h2>
                            <p>26 - 29 November</p>
                        </div>
                    </div>
                    <div class="progress-bar"></div>
                </div>
            </div>
        </div>
        <div class="news-container" id="upcomingEvents">
            <div class="events-icon">
                <a><img src="{{site.baseurl}}/assets/img/calendar1.png"></a>
                <h2>Acara Yang Akan Datang</h2>
            </div>
            <article class="picAd">
                <div>
                    <img src="https://res.cloudinary.com/trippleninja/image/upload/v1537601469/News%20Images/freedom.jpg">
                </div>
                <div class="description-container">
                    <p>Seminar Pembebasan “Berjalan dalam Kekudusan”</p>
                    <div class="pgraph">Penceramah: Rev Philip Tan (dari Australia) - Terjemahan dari English ke BM. Kemasukan Percuma. Dewan Barrett - 2.00 Petang.
                        <br>13 Oktober (Sabtu)</div>
                </div>
            </article>
            <article class="picAd">
                <div>
                    <img src="https://res.cloudinary.com/trippleninja/image/upload/v1536391687/Kanak%20BM/Kanak_Konferensi1.jpg">
                </div>
                <div class="description-container">
                    <p>Konferensi Penyembahan Kanak Kanak DOS</p>
                    <a href="https://res.cloudinary.com/trippleninja/image/upload/v1536391689/Kanak%20BM/Kanak_Konferensi2.jpg" target="_blank" class="link fb-link pgraph">
                    26 - 29 Nov 2018, Dewan Sekolah Visi<br>Yuran: RM80.00 (termasuk makanan & baju). Maklumat lanjut sila hubungi Pn Fidelia (011-2524 4194) & Cik Rozalyn Adun (014-373 6047) atau <span class="alpha-link">klik di sini untuk maklumat lanjut</span></a>
                </div>
            </article>
            <!--            <div class="top-news">
            </div>
            <div class="more separator">
                <a href="{{site.baseurl}}/bahasa-malaysia/all-events/">
                    <h3>Selanjutnya</h3>
                    <img src="{{site.baseurl}}/assets/img/arrow-right.png">
                </a>
            </div>
-->
        </div>
        <!-- End of Upcoming News Container -->

        <div class="news-container" id="featuredEvents">
            <div class="events-icon">
                <a href="#"><img src="{{site.baseurl}}/assets/img/calendar2.png"></a>
                <h2>Acara yang Ditonjolkan</h2>
            </div>
            <div class="featureSlides">
                <div class="featureContainer">
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1531560924/News%20Images/BorneoRevival1.jpg" alt="" /></div>
                        <h5>Gambar 1</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342332/All%20Borneo%20Revival/ABR%202018/abr1.jpg" alt="" /></div>
                        <h5>Gambar 2</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342346/All%20Borneo%20Revival/ABR%202018/abr1a.jpg" alt="" /></div>
                        <h5>Gambar 3</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342340/All%20Borneo%20Revival/ABR%202018/abr3.jpg" alt="" /></div>
                        <h5>Gambar 4</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342351/All%20Borneo%20Revival/ABR%202018/abr8.jpg" alt="" /></div>
                        <h5>Gambar 5</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342377/All%20Borneo%20Revival/ABR%202018/abr20.jpg" alt="" /></div>
                        <h5>Gambar 6</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342371/All%20Borneo%20Revival/ABR%202018/abr15.jpg" alt="" /></div>
                        <h5>Gambar 7</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342389/All%20Borneo%20Revival/ABR%202018/abr30.jpg" alt="" /></div>
                        <h5>Gambar 8</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342393/All%20Borneo%20Revival/ABR%202018/abr26.jpg" alt="" /></div>
                        <h5>Gambar 9</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342393/All%20Borneo%20Revival/ABR%202018/abr28.jpg" alt="" /></div>
                        <h5>Gambar 10</h5>
                    </div>
                    <div class="featureDescription">
                        <p>All Borneo Revival : 9-12hb Ogos 2018</p><br>
                        <a href="https://www.facebook.com/pg/cogssandakan/photos/?tab=album&album_id=253707788604465" class="link fb-link" target="_blank"> Tempat: Dewan Sekolah Visi Sibuga Sandakan<br>"Aku Tuhanlah yang menyembukan engkau." Keluaran 15:26<br><span class="alpha-link">Klik di sini untuk gambar yang lain.</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Featured Events -->

        <div class="news-container" id="ongoingEvents">
            <div class="events-icon">
                <a href="#"><img src="{{site.baseurl}}/assets/img/smart-noti.png"></a>
                <h2>Acara Yang Sedang Berlangsung</h2>
            </div>
            <article class="main-news">
                <a rel="canonical" href="{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/waktu-kebaktian-cogs"><img class="main-image round-radius" src="../assets/img/worship1a.jpg">
                    <div class="main-news-description">
                        <h1 class="main-news-title">Waktu Kebaktian</h1>
                        <p class="news-pgraph3">Klik di <span>sini</span> untuk maklumat lanjut</p>
                    </div>
                </a>
            </article>

            <div class="top-news">

                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/kelompok-penggembalaan-cogs"><img class="news-image" src="../assets/img/ongoing/CGroup.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">Kelompok Penggembalaan COGS</h1>
                            <p class="news-pgraph2">Bersama Kita Kuat</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/kelompok-penggembalaan-cogs" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/kelompok-penggembalaan-cogs" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/kelompok-penggembalaan-cogs" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/kelompok-penggembalaan-cogs" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>

                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/bola-keranjang-cogs"><img class="news-image" src="../assets/img/ongoing/basketball.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">Bola Keranjang COGS</h1>
                            <p class="news-pgraph2">Setiap Sabtu & Ahad</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/bola-keranjang-cogs" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/bola-keranjang-cogs" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/bola-keranjang-cogs" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/bola-keranjang-cogs" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/Muda_Mudi_COGS.html"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1521468833/Sandakan%20Interchurch%20Youth/siy11.jpg">
                        <div class="newsdescription">
                            <h1 class="top-news-title">Pelayanan Muda-Mudi</h1>
                            <p class="news-pgraph2">Setiap Jumaat</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/BM/BERITA/SedangBerlangsung/Muda_Mudi_COGS.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SedangBerlangsung/Muda_Mudi_COGS.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SedangBerlangsung/Muda_Mudi_COGS.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/BERITA/SedangBerlangsung/Muda_Mudi_COGS.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/bahasa-malaysia/semua-acara/ongoing/Belia_BM_COGS.html"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1523538743/Belia%20BM/BeliaBM22.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">Belia BM COGS</h1>
                            <p class="news-pgraph2">Setiap Jumaat</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/BM/BERITA/SedangBerlangsung/Belia_BM_COGS.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SedangBerlangsung/Belia_BM_COGS.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SedangBerlangsung/Belia_BM_COGS.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/BERITA/SedangBerlangsung/Belia_BM_COGS.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>

            </div>
            <div class="more separator">
                <a href="{{site.baseurl}}/bahasa-malaysia/semua-acara/">
                    <h3>Selanjutnya</h3>
                    <img src="{{site.baseurl}}/assets/img/arrow-right.png">
                </a>
            </div>
        </div>
        <!-- End of Ongoing News Container -->

        <div class="news-container" id="pastEvents">
            <div class="events-icon add-radius">
                <a href="#"><img src="{{site.baseurl}}/assets/img/trumpet.png"></a>
                <h2>Acara Yang Sudah Berlalu</h2>
            </div>
            <article class="main-news">
                <a rel="canonical" href="{{site.baseurl}}/bahasa-malaysia/semua-acara/sudah-berlalu/Kebaktian_Penetapan18.html"><img class="main-image round-radius" src="https://res.cloudinary.com/trippleninja/image/upload/v1536433446/Confirmation%20Service/Sept2018/cs36.jpg">
                    <div class="main-news-description">
                        <h1 class="main-news-title">Kebaktian Penetapan</h1>
                        <p class="news-pgraph3">08 Sept 2018</p>
                        <p class="news-pgraph1">Klik di <span>sini</span> untuk maklumat lanjut</p>
                    </div>
                </a>
            </article>
            <div class="top-news">
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/bahasa-malaysia/semua-acara/sudah-berlalu/Kebaktian_Pembaptisan18.html"><img class="news-image" src="https://res.cloudinary.com/trippleninja/image/upload/v1536432419/Baptism%20Service/Sept2018/bs24.jpg">
                        <div class="newsdescription">
                            <h1 class="top-news-title">Kebaktian Pembaptisan</h1>
                            <p class="news-pgraph2">01 Sept 2018</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Kebaktian_Pembaptisan18.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Kebaktian_Pembaptisan18.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Kebaktian_Pembaptisan18.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/BERITA/SudahBerlalu/Kebaktian_Pembaptisan18.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/bahasa-malaysia/semua-acara/sudah-berlalu/Khemah_Pujian_Kanak_18.html"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1520091254/Asas%20Kepimpinan/kepimpinan6.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">Khemah Pujian Kanak Kanak</h1>
                            <p class="news-pgraph2">17 - 19 Ogos 2018</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Khemah_Pujian_Kanak_18.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Khemah_Pujian_Kanak_18.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Khemah_Pujian_Kanak_18.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/BERITA/SudahBerlalu/Khemah_Pujian_Kanak_18.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/bahasa-malaysia/semua-acara/sudah-berlalu/Hari_Paskah_Kanak_Kanak.html"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1523165983/Hari%20Paskah/PK_1.jpg">
                        <div class="newsdescription">
                            <h1 class="top-news-title">Sambutan Hari Paskah Kanak Kanak</h1>
                            <p class="news-pgraph2">01hb April 2018</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Hari_Paskah_Kanak_Kanak.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Hari_Paskah_Kanak_Kanak.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Hari_Paskah_Kanak_Kanak.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/BERITA/SudahBerlalu/Hari_Paskah_Kanak_Kanak.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/bahasa-malaysia/semua-acara/sudah-berlalu/Sandakan_Interchurch_Youth.html"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1521434489/Sandakan%20Interchurch%20Youth/siy2.jpg">
                        <div class="newsdescription">
                            <h1 class="top-news-title">Sandakan Interchurch Youth</h1>
                            <p class="news-pgraph2">09/03/2018</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Sandakan_Interchurch_Youth.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Sandakan_Interchurch_Youth.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/BM/BERITA/SudahBerlalu/Sandakan_Interchurch_Youth.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/BERITA/SudahBerlalu/Sandakan_Interchurch_Youth.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
            </div>
            <div class="more separator">
                <a href="{{site.baseurl}}/bahasa-malaysia/semua-acara/">
                    <h3>Selanjutnya</h3>
                    <img src="{{site.baseurl}}/assets/img/arrow-right.png">
                </a>
            </div>
        </div>
        <!-- End of Past Event News Container -->

    </div>
    <!-- End of adjust-padding-lr -->

</section>
