---
layout: default
---
<section class="section" id="announcements">
    <div class="adjust-padding-lr">
        <div class="section-title-group">
            <h2 class="centered section-heading">通告</h2>
            <div class="center section-subheading">所有最新消息,知讯与重大活动<br>(更新日期: <strong>8月25日2018年</strong>)</div>
        </div>

        <div class="latestNews">
            <div class="events-icon">
                <a href="#" onclick="return false;"><img src="../assets/img/news.png"></a>
                <h2>十个最新消息</h2>
                <form class="refreshButton">
                    <input TYPE="button" onClick="history.go(0)" VALUE="更新">
                </form>
            </div>
            <div class="newsSlider">
                <div class="slideContainer">
                    <!--
                    <div class="newsAutoChange">
                       <h2>No worry, these News will change to another News automatically.</h2><br>
                        <p>This window will be closed after <span id="countdowntimer"> seconds</span></p><button class="closeNews">关闭</button>
                    </div>
-->
                    <!--                     CHIpar-->
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1533973674/Download/CHI1.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>1</h5>
                            <h4>40天禁食祷告</h4>
                            <h2>大丰收 - 您可以购买祷告手册 RM3.00 (资源中心)或从COGS网站下载(PDF)。</h2>
                            <p>8月07- 9月15日</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1507730447/Children%20Bible%20Camp%2017/camp30.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>2</h5>
                            <h4>儿童主日学(中英/华美园)</h4>
                            <h2>本周日没有主日学聚会。</h2>
                            <p>8月26日2018年</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1532756856/News%20Images/flower3.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>3</h5>
                            <h4>姐妹关怀小组聚会</h4>
                            <h2>华美园关怀中心 - 晚上 7:00。</h2>
                            <p>8月26日2018年 (周日)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="http://res.cloudinary.com/trippleninja/image/upload/v1527927734/News%20Images/synod.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>4</h5>
                            <h4>沙巴教区大会</h4>
                            <h2>地点: 诸圣座堂，亚庇。</h2>
                            <p>8月28-31日2018年</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1522943852/News%20Images/captain-ball.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>5</h5>
                            <h4>司令球游戏比赛</h4>
                            <h2>圣米迦勒堂主办, 早上 8:30 于圣愿学校举行。</h2>
                            <p>9月1日2018年 (周六)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1532756856/News%20Images/flower2.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>6</h5>
                            <h4>姐妹团契聚会</h4>
                            <h2>巴烈礼堂 - 下午 2:00。</h2>
                            <p>9月01日2018年 (周六)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="../assets/img/baptism2.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>7</h5>
                            <h4>圣洗礼</h4>
                            <h2>晚上 7:30于晚堂崇拜中进行。</h2>
                            <p>9月1日2018年 (周六)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1532757726/COGS%20Youth/youth_con18.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>8</h5>
                            <h4>青少特会–U一天</h4>
                            <h2>圣米迦勒堂 - 报名费RM40 (包括餐费和T恤, 8月13日后报名没T恤); 更多详情请联络: 黄贤芝传道 (013-8837782)</h2>
                            <p>9月10-11日 (周一至二)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534569205/News%20Images/michaelmas_run.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>9</h5>
                            <h4>圣米迦勒堂庆跑</h4>
                            <h2>下午 4:00开始。报名费 RM50:00 (包括T恤, 手腕带和獎牌)。 截止日期: 8月26日。</h2>
                            <p>9月16日2018年 (周日)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="http://res.cloudinary.com/trippleninja/image/upload/v1522474184/News%20Images/blood.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>10</h5>
                            <h4>检验血糖、血压 (免付费)</h4>
                            <h2>三里中价屋Sri Taman关怀中心<br>早上 8:00 - 9:30。我们欢迎您邀请您的朋友來检验。</h2>
                            <p>每逢周五</p>
                        </div>
                    </div>
                    <div class="progress-bar"></div>
                </div>
            </div>
        </div>
        <div class="news-container" id="upcomingEvents">
            <div class="events-icon">
                <a href="#" onclick="return false;"><img src="../assets/img/calendar1.png"></a>
                <h2>即将举行的活动</h2>
            </div>
            <article class="main-news videoad">
                <div class="youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/r99lCJ1_kYg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="youtube-container">
                    <i class="fa fa-youtube-play"></i>
                    <p>Play Youtube</p><i class="fa fa-arrow-up" aria-hidden="true"></i>
                    <a href="https://s3-ap-southeast-1.amazonaws.com/cornerstone-media-server/NECF/NECF+40+Days+Fast+%26+Prayer+Book+-Chn+Adult+2018.pdf" target="_blank" class="link fb-link pgraph">
                    40天禁食祷告: 大丰收<br>8月07 - 9月15日2018年<br><span class="alpha-link">点击此处下载免费副本祷告手册(PDF格式)</span></a>
                </div>
            </article>
            <article class="picAd">
                <div>
                    <img class="contain" src="https://res.cloudinary.com/trippleninja/image/upload/v1532169263/News%20Images/Sabah_Choral_Info.jpg">
                </div>
                <div class="description-container">
                    <p>沙巴山打根合唱营</p>
                    <a href="https://res.cloudinary.com/trippleninja/image/upload/v1532168736/News%20Images/Sabah_Choral_Camp.jpg" target="_blank" class="link fb-link pgraph">8月31-9月01日2018<br>截止日期: 8月10日2018;<br>名额: 限100 (额满截止报名);<br>详情联络: 016-8186283;<br><span class="alpha-link">点击这里下载官方海报!</span></a>
                </div>
            </article>
            <article class="picAd">
                <div>
                    <img src="https://res.cloudinary.com/trippleninja/image/upload/v1522943852/News%20Images/captain-ball.jpg">
                </div>
                <div class="description-container">
                    <p>司令球游戏比赛</p>
                    <div class="pgraph">9月1日2018 (周六)<br>圣米迦勒堂主办, 早上 8:30 于圣愿学校举行。 截止报名日期: 8月16日(周四)。每队报名费: RM30.00。</div>
                </div>
            </article>
            <article class="picAd">
                <div class="promo-title lightbluebg">
                    <p>坚振礼晚堂崇拜</p>
                </div>
                <div class="description-container">
                    <p>9月8日2018年 (周六) 晚上 7:30 (善牧堂)</p>
                    <div class="pgraph">9月2日 (周日) 早上 11:45 - 坚振礼彩排 (善牧堂)<br>9月3日 (周一) 晚上 7:30 中英课程复习 (恩惠楼)
                    </div>
                </div>
            </article>
            <article class="picAd">
                <div>
                    <img src="https://res.cloudinary.com/trippleninja/image/upload/v1532757726/COGS%20Youth/youth_con18.jpg">
                </div>
                <div class="description-container">
                    <p>青少特会–U一天</p>
                    <div class="pgraph">9月10-11日2018年(周一至二)<br>地点: 圣米迦勒堂。报名费 RM40:00 (包括餐费和T恤, 8月13日后报名没T恤。)
                    </div>
                </div>
            </article>
            <article class="picAd">
                <div>
                    <img src="https://res.cloudinary.com/trippleninja/image/upload/v1534569205/News%20Images/michaelmas_run.jpg">
                </div>
                <div class="description-container">
                    <p>圣米迦勒堂庆跑</p>
                    <a href="http:www.cogssandakan.com/Bulletin/2018_SMC_Michaelmas_Run_Form.pdf" target="_blank" class="link fb-link pgraph">
                    9月16日2018年 时间: 下午 4:00。<br>报名费 RM50:00 (包括T恤, 手腕带和獎牌)。 截止日期: 8月26日。<br><span class="alpha-link">点击这里以下载注册表格!</span></a>
                </div>
            </article>
            <article class="picAd">
                <div>
                    <img src="https://res.cloudinary.com/trippleninja/image/upload/v1531561701/News%20Images/GLS.jpg">
                </div>
                <div class="description-container">
                    <p>环球领袖高峰会</p>
                    <a href="https://res.cloudinary.com/trippleninja/image/upload/v1530961245/News%20Images/Global_Leader_Submit.jpg" target="_blank" class="link fb-link pgraph">
                    11月5-6日2018 (周一至二)<br>地点: 圣米迦勒堂。透过大型荧幕观赏, 实镜影像体验大会。<span class="alpha-link"> 欲了解更多详情，点击这里下载官方海报!</span></a>
                </div>
            </article>
        </div>
        <!-- End of Upcoming News Container -->


        <div class="news-container" id="featuredEvents">
            <div class="events-icon">
                <a href="#" onclick="return false;"><img src="../assets/img/calendar2.png"></a>
                <h2>特色活动</h2>
            </div>
            <article class="main-news videoad">
                <div class="youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BD9en_Ucsg4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="youtube-container">
                    <i class="fa fa-youtube-play"></i>
                    <p>Play Youtube</p><i class="fa fa-arrow-up" aria-hidden="true"></i>
                    <a href="#" onclick="return false;" class="link fb-link pgraph">中英儿童激励营 DAY 1<br>8月20-22日2018年于山打根善牧堂;                            <!--<span class="alpha-link"> 点击这里获取其他图片!</span>-->
                    </a>
                </div>
            </article>
            <article class="main-news videoad">
                <div class="youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dk3azNpd6Mw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="youtube-container">
                    <i class="fa fa-youtube-play"></i>
                    <p>Play Youtube</p><i class="fa fa-arrow-up" aria-hidden="true"></i>
                    <a href="#" onclick="return false;" class="link fb-link pgraph">中英儿童激励营 DAY 2<br>8月20-22日2018年于山打根善牧堂;
                    </a>
                </div>
            </article>
            <div class="featureSlides">
                <div class="featureContainer">
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1531560924/News%20Images/BorneoRevival1.jpg" alt="" /></div>
                        <h5>图片 1</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342332/All%20Borneo%20Revival/ABR%202018/abr1.jpg" alt="" /></div>
                        <h5>图片 2</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342346/All%20Borneo%20Revival/ABR%202018/abr1a.jpg" alt="" /></div>
                        <h5>图片 3</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342340/All%20Borneo%20Revival/ABR%202018/abr3.jpg" alt="" /></div>
                        <h5>图片 4</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342351/All%20Borneo%20Revival/ABR%202018/abr8.jpg" alt="" /></div>
                        <h5>图片 5</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342377/All%20Borneo%20Revival/ABR%202018/abr20.jpg" alt="" /></div>
                        <h5>图片 6</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342371/All%20Borneo%20Revival/ABR%202018/abr15.jpg" alt="" /></div>
                        <h5>图片 7</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342389/All%20Borneo%20Revival/ABR%202018/abr30.jpg" alt="" /></div>
                        <h5>图片 8</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342393/All%20Borneo%20Revival/ABR%202018/abr26.jpg" alt="" /></div>
                        <h5>图片 9</h5>
                    </div>
                    <div class="featurePhoto">
                        <div class="featureimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534342393/All%20Borneo%20Revival/ABR%202018/abr28.jpg" alt="" /></div>
                        <h5>图片 10</h5>
                    </div>
                    <div class="featureDescription">
                        <p>全婆罗洲复兴大会 : 8月09-12日</p><br>
                        <a href="https://www.facebook.com/pg/cogssandakan/photos/?tab=album&album_id=253707788604465" class="link fb-link" target="_blank"> 地点: 圣愿学校礼堂<br>"因為我耶和華是醫治你的!" 出埃及记15章26节<br><span class="alpha-link">点击以观看更多图片</span></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Featured Events Container -->

        <div class="news-container" id="ongoingEvents">
            <div class="events-icon">
                <a href="#" onclick="return false;"><img src="../assets/img/smart-noti.png"></a>
                <h2>正在进行的活动</h2>
            </div>
            <!--
            <article class="picAd">
                <a rel="canonical" href="./chinese/all-events/Ongoing/COGS_Alpha_Course.html">

                    <div class="promo-title redbg">
                        <p>"教会又是什么?"</p>
                    </div>
                </a>
                <div class="description-container">
                    <p>启发课程 - 晚上7:00 </p>
                    <a href="./chinese/all-events/Ongoing/COGS_Alpha_Course.html" class="link fb-link pgraph">请加入我们的下一个启发课程了解更多<br>日期: 5月25日2018年（周五）<br><span class="alpha-link">点击这里以了解更多有关启发课程!</span></a>
                </div>
            </article>
-->
            <!--
            <article class="picAd">
                <a rel="canonical" href="./chinese/all-events/Ongoing/COGS_Alpha_Course.html">
                             NOT THIS                   <img src="http://res.cloudinary.com/trippleninja/image/upload/v1521292095/ALPHA/alpha102.jpg">
                    <div class="promo-title pinkbg">
                        <p>"圣灵是谁?"</p>
                    </div>
                </a>
                <div class="description-container">
                    <p>青年启发课程 - 下午4:00 </p>
                    <div class="pgraph">我们邀请您携带您的朋友参加启发课程!<br>联络黄贤芝传道: 013-8837782<br>日期: 6月02日2018年（周六）<br></div>
                </div>
            </article>
-->
            <article class="main-news">
                <a rel="canonical" href="{{site.baseurl}}/chinese/all-events/ongoing/cogs-church-services"><img class="main-image round-radius" src="../assets/img/worship1a.jpg">
                    <div class="main-news-description">
                        <h1 class="main-news-title">教会崇拜</h1>
                        <p class="news-pgraph3">点击  <span>这里</span> 查看更多信息</p>
                    </div>
                </a>
            </article>

            <!--
            <article class="main-news videoad">
                <div class="youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9LrwQEuTTCw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="youtube-container">
                    <i class="fa fa-youtube-play"></i>
                    <p>Play Youtube</p><i class="fa fa-arrow-up" aria-hidden="true"></i>
                    <a href="./chinese/all-events/Ongoing/COGS_Alpha_Course.html" class="link fb-link">启发课程是一系列会谈和讨论来介绍基督教信仰的知识以及探索生命意义的机会。<span class="alpha-link">点击这里以了解更多启发课程。</span></a><span class="tooltiptext">来了解生命的意义!</span>
                </div>
            </article>
-->

            <div class="top-news">
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/chinese/all-events/ongoing/cogs-care-groups"><img class="news-image" src="../assets/img/ongoing/CGroup.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS 关怀小组</h1>
                            <p class="news-pgraph2">在一起我们更坚强</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-care-groups" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-care-groups" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-care-groups" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text=http:/{{site.baseurl}}chinese/all-events/ongoing/cogs-care-groups" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>

                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/chinese/all-events/ongoing/cogs-boys-brigade"><img class="news-image" src="../assets/img/ongoing/boysbrigade.jpg">
                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS 基督少年軍(BB)</h1>
                            <p class="news-pgraph2">每逢星期六</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-boys-brigade" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-boys-brigade" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-boys-brigade" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text=http:/{{site.baseurl}}chinese//all-events/ongoing/cogs-boys-brigade" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/chinese/all-events/ongoing/cogs-basketball"><img class="news-image" src="../assets/img/ongoing/basketball.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS 篮球队</h1>
                            <p class="news-pgraph2">每逢星期六和星期天</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-basketball" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-basketball" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-basketball" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-basketball" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/chinese/all-events/ongoing/cogs-excelsis-line-dance"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1521560727/LineDance/Line_Dance.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS Excelsis 排舞</h1>
                            <p class="news-pgraph2">每逢星期二</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-excelsis-line-dance" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-excelsis-line-dance" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-excelsis-line-dance" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/chinese/all-events/ongoing/cogs-excelsis-line-dance" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <!--
                <article class="news">
                    <a rel="canonical" href="./chinese/all-events/Ongoing/COGS_Excelsis_Line_Dance.html"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1521560727/LineDance/Line_Dance.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS Excelsis 排舞</h1>
                            <p class="news-pgraph2">每逢星期二</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/chinese/all-events/Ongoing/COGS_Excelsis_Line_Dance.html" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/Ongoing/COGS_Excelsis_Line_Dance.html" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/Ongoing/COGS_Excelsis_Line_Dance.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/chinese/all-events/Ongoing/COGS_Excelsis_Line_Dance.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
-->

            </div>
            <div class="more separator">
                <a href="{{site.baseurl}}/chinese/all-events/">
                    <h3>更多</h3>
                    <img src="../assets/img/arrow-right.png">
                </a>
            </div>
        </div>
        <!-- End of Ongoing News Container -->

        <div class="news-container" id="pastEvents">
            <div class="events-icon add-radius">
                <a href="#" onclick="return false;"><img src="../assets/img/trumpet.png"></a>
                <h2>过去的活动</h2>
            </div>
            <article class="main-news">
                <a rel="canonical" href="{{site.baseurl}}/chinese/all-events/past/2018/cogs-confirmation-service"><img class="main-image round-radius" src="https://res.cloudinary.com/trippleninja/image/upload/v1536433446/Confirmation%20Service/Sept2018/cs36.jpg">
                    <div class="main-news-description">
                        <h1 class="main-news-title">COGS 坚振礼崇拜</h1>
                        <p class="news-pgraph3">9月08日2018年</p>
                        <p class="news-pgraph1">点击<span>这里</span>以查看更多信息</p>
                    </div>
                </a>
            </article>
            <div class="top-news">

                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/chinese/all-events/past/2018/cogs-baptism-service"><img class="news-image" src="https://res.cloudinary.com/trippleninja/image/upload/v1536432419/Baptism%20Service/Sept2018/bs24.jpg">
                    <div class="newsdescription">
                        <h1 class="top-news-title">COGS 圣洗礼崇拜</h1>
                        <p class="news-pgraph2">9月01日2018年</p>
                    </div>
                </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}chinese/all-events/past/2018/cogs-baptism-service" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/past/2018/cogs-baptism-service" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/past/2018/cogs-baptism-service" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/chinese/all-events/past/2018/cogs-baptism-service" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/chinese/all-events/past/2018/cogs-sister-fellowship-singing-competition"><img class="news-image" src="https://res.cloudinary.com/trippleninja/image/upload/v1535874394/Sisters%27%20Fellowship/Singing%20Competition%202018/ssc47.jpg">
                    <div class="newsdescription">
                        <h1 class="top-news-title">姐妹团契歌唱</h1>
                        <p class="news-pgraph2">9月01日2018年</p>
                    </div>
                </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/chinese/all-events/past/2018/cogs-sister-fellowship-singing-competition" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/past/2018/cogs-sister-fellowship-singing-competition" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/past/2018/cogs-sister-fellowship-singing-competition" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/chinese/all-events/past/2018/cogs-sister-fellowship-singing-competition" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/chinese/all-events/Past/2018/jamming-party"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1523027105/Children%20Easter/easter1.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">Excelsis Line Dance Jamming Party</h1>
                            <p class="news-pgraph2">7月3日2018年</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/chinese/all-events/Past/2018/jamming-party" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/Past/2018/jamming-party" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/Past/2018/jamming-party" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/chinese/all-events/Past/2018/jamming-party" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/chinese/all-events/past/2018/encounter-youth-camp"><img class="news-image" src="https://res.cloudinary.com/trippleninja/image/upload/v1531018737/COGS%20Youth/EncounterCamp18/EYC25.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">教区中英青少特会</h1>
                            <p class="news-pgraph2">6月11-14日2018年</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/chinese/all-events/past/2018/encounter-youth-camp" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/past/2018/encounter-youth-camp" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/chinese/all-events/past/2018/encounter-youth-camp" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/chinese/all-events/past/2018/encounter-youth-camp" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
            </div>
            <div class="more separator">
                <a href="{{site.baseurl}}/chinese/all-events/">
                    <h3>更多</h3>
                    <img src="../assets/img/arrow-right.png">
                </a>
            </div>
        </div>
        <!-- End of Past Event News Container -->

    </div>
    <!-- End of adjust-padding-lr -->

</section>
