<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <title>The Church of The Good Shepherd (COGS) Sandakan | Ongoing Event - Church Services, Time and Venue</title>
    <meta name="description" content="The Church of The Good Shepherd (Anglican Church in Sandakan) | Ongoing Event - Come and join our weekly services based on our time and languages">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="The Church of The Good Shepherd (COGS) Sandakan | Ongoing Event - Church Services, Time and Venue">
    <meta itemprop="description" content="The Church of The Good Shepherd (Anglican Church in Sandakan) | Ongoing Event - Come and join our weekly services based on our time and languages">
    <meta itemprop="image" content="http://www.cogssandakan.com/News/img/worship1a.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cogssandakan">
    <meta name="twitter:title" content="The Church of The Good Shepherd (COGS) Sandakan | Ongoing Event - Church Services, Time and Venue">
    <meta name="twitter:description" content="The Church of The Good Shepherd (Anglican Church in Sandakan) | Ongoing Event - Come and join our weekly services based on our time and languages">
    <meta name="twitter:creator" content="@cogssandakan">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image" content="http://www.cogssandakan.com/News/img/worship1a.jpg">

    <!-- Open Graph data -->
    <meta property="fb:app_id" content="149572635665595" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.cogssandakan.com/News/Ongoing/Church_Services.html" />
    <meta property="og:title" content="The Church of The Good Shepherd (COGS) Sandakan | Ongoing Event - Church Services, Time and Venue" />
    <meta property="og:description" content="The Church of The Good Shepherd (Anglican Church in Sandakan) | Ongoing Event - Come and join our weekly services based on our time and languages" />
    <meta property="og:image" content="http://www.cogssandakan.com/News/img/worship1a.jpg" />
    <meta property="og:image:alt" content="Worshipping in The Church of The Good Shepherds(COGS)" />

    <link href="http://www.cogssandakan.com/css/church_services.css" rel="stylesheet" type="text/css">
    <link href="http://www.cogssandakan.com/img/favicon/favicon2-96x96.png" rel="shortcut icon" type="image/x-icon">
    <link href="http://www.cogssandakan.com/img/favicon/apple-icon2-180x180.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P44M4ZR');

    </script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109996664-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-109996664-1');
        gtag('set', {
            'user_id': 'USER_ID'
        }); // Set the user ID using signed-in user_id.

    </script>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P44M4ZR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <section class="church-services">
        <div class="top-nav">
            <div class="top-container">
                <div class="text-block">COGS SANDAKAN</div>
                <a href="http://www.cogssandakan.com/News/COGS_All_Events.html" class="link">EVENTS</a>
            </div>
        </div>
        <table class="services-container">
            <tr>
                <th class="weekly" colspan="3">Weekly Services</th>
            </tr>
            <tr>
                <td>Saturday: </td>
                <td>Chinese/Hakka - 7:30 p.m.</td>
            </tr>
            <tr>
                <td>Sunday: </td>
                <td>Chinese/Hakka - 7:00 a.m.</td>
            </tr>
            <tr>
                <td>Sunday: </td>
                <td>English - 9:30 a.m.</td>
            </tr>
            <tr>
                <td>Sunday: </td>
                <td>Bahasa Malaysia - 9:30 a.m.</td>
            </tr>
            <tr>
                <td>Sunday: </td>
                <td>Chinese/Hakka - 2:30 p.m.</td>
            </tr>
        </table>
        <div class="button-container">
            <div class="visit"><a href="#">Plan a Visit</a></div>
            <div class="share-info">
                <div class="share-container">
                    <div class="share-button" target="_blank"><span>Share this Info</span></div>
                    <div class="web__share">
                        <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cogssandakan.com/News/Ongoing/COGS_Church_Services.html" target="_blank"><span class="fa fa-facebook"></span></a>
                        <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//www.cogssandakan.com/News/Ongoing/COGS_Church_Services.html" target="_blank"><span class="fa fa-twitter"></span></a>
                        <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//www.cogssandakan.com/News/Ongoing/COGS_Church_Services.html" target="_blank"><span class="fa fa-google-plus"></span></a>
                        <a class="share-icon whatsapp" href="whatsapp://send?text=http://www.cogssandakan.com/News/Ongoing/COGS_Church_Services.html" target="_blank"><span class="fa fa-whatsapp"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-container w-container">
                <div class="social-media-text">COGS SANDAKAN @ Copyright 2017. </div>
                <div class="social-icons">
                    <a class="social-icon-link " target="_blank" href="https://www.facebook.com/cogssandakan">
                        <img src="http://www.cogssandakan.com/img/fb.png" width="30">
                    </a>
                    <a class="social-icon-link " target="_blank" href="https://twitter.com/cogssandakan">
                        <img src="http://www.cogssandakan.com/img/twitter.png" width="30">
                    </a>
                    <a class="social-icon-link " target="_blank" href="https://instagram.com/cogssandakan">
                        <img src="http://www.cogssandakan.com/img/instag.png" width="30">
                    </a>
                    <a class="social-icon-link " target="_blank" href="https://plus.google.com/u/0/107266476292640136953">
                        <img src="http://www.cogssandakan.com/img/google-plus.png" width="30">
                    </a>
                </div>
            </div>
        </div>
        <div id="rotateDevice" class="rotate-screen">
            <div class="rotate-container">
                <div class="rotate-pic"></div>
                <h2>Rotate your device</h2>
            </div>
        </div>
    </section>
    <section class="plan-visit">
        <div class="container">
            <div class="title">
                <h1>Plan a Visit</h1>
                <h3>Please fill in your details below</h3><span class="close-button" title="Close">Close</span>
            </div>
            <form data-name="Email Form" id="email-form" name="email-form" action="https://formspree.io/josiahsoh@gmail.com" method="POST">
                <input type="hidden" name="_subject" value="New Visitor(s) Planning A Visit @COGS" />
                <input type="hidden" name="_cc" value="cogssandakan2017@gmail.com" />
                <div class="form-container">
                    <div class="form-row">
                        <!--DON't add autofocus="autofocus" show the input element should automatically get focus once the page reload-->
                        <input class="form-field w-input" data-name="Name 1" id="name-1" maxlength="256" name="Name" placeholder="Name:" required="required" type="text">
                    </div>
                    <div class="form-row">
                        <input class="form-field w-input" data-name="Email 1" id="email-1" maxlength="256" name="Email" placeholder="Email:" required="required" type="email">
                    </div>
                    <div class="form-row">
                        <input class="form-field w-input" data-name="Contact 1" id="contact-1" maxlength="256" name="Contact" placeholder="Contact Number:" required="required" type="text">
                    </div>
                </div>
                <textarea class="form-field text-area w-input" data-name="Additonal Info" id="additional-info" maxlength="5000" name="Additional Info" placeholder="Additional info that you would like us to know (optional)"></textarea>
                <div class="selection">
                    <select class="adult" name="Adults">
                        <option value="1 Adult">1 Adult</option>
                        <option value="2 Adults">2 Adults</option>
                        <option value="3 Adults">3 Adults</option>
                        <option value="4 Adults">4 Adults</option>
                        <option value="5 Adults">5 Adults</option>
                        <option value="6 Adults">6 Adults</option>
                        <option value="7 Adults">7 Adults</option>
                        <option value="8 Adults">8 Adults</option>
                        <option value="9 Adults">9 Adults</option>
                        <option value="10 Adults">10 Adults</option>
                    </select>
                    <br>
                    <select class="child" name="Child">
                        <option value="0 Child">0 Child</option>
                        <option value="1 Child">1 Child</option>
                        <option value="2 Children">2 Children</option>
                        <option value="3 Children">3 Children</option>
                        <option value="4 Children">4 Children</option>
                        <option value="5 Children">5 Children</option>
                        <option value="6 Children">6 Children</option>
                        <option value="7 Children">7 Children</option>
                        <option value="8 Children">8 Children</option>
                    </select>
                    <br>
                    <select class="infant" name="Infant">
                        <option value="0 Infant">0 Infant</option>
                        <option value="1 Infants">1 Infants</option>
                        <option value="2 Infants">2 Infants</option>
                        <option value="3 Infants">3 Infants</option>
                    </select>
                    <br>
                    <input type="date" name="year/month/day" value="2017-08-01" id="attendance-date" class="service-date" />
                    <br>
                    <br>
                    <select class="service-time" name="Service Time">
                        <option value="Saturday ENGLISH 7:30pm">Saturday Chinese/Hakka - 7:30pm</option>
                        <option value="Sunday CHINESE 7:00am">Sunday Chinese/Hakka - 7:00am</option>
                        <option value="Sunday ENGLISH 9:30am">Sunday English - 9:30am</option>
                        <option value="Sunday BM 9:30am">Sunday Bahasa Malaysia - 9:30am</option>
                        <option value="Sunday CHINESE 2:30pm">Sunday Chinese/Hakka - 2:30pm</option>
                    </select>
                    <br>
                </div>
                <input class="button full-width w-button plan-submit" data-wait="Please wait..." type="submit" value="Submit">

            </form>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $(".visit").click(function() {
                $(".plan-visit").css('display', 'block');
                $(".plan-visit").css('overflow-y', 'scroll');

            });
            $(".close-button").click(function() {
                $(".plan-visit").css('display', 'none');
                $(".plan-visit").css('overflow-y', 'hidden');
            });
            $(".share-button").click(function () {
                $(".share-button").css('display', 'none');
                $(".web__share").css('display', 'inline-block');
            });
            // set the max height
            if ((window.matchMedia('(max-height: 460px)').matches) && (window.innerWidth > window.innerHeight)) {
                $("#rotateDevice").css("display", "block");
            } else {
                $("#rotateDevice").css("display", "none");
            }
            $(window).resize(function() {
                if ((window.matchMedia('(max-height: 460px)').matches) && (window.innerWidth > window.innerHeight)) {
                    $("#rotateDevice").css("display", "block");
                } else {
                    $("#rotateDevice").css("display", "none");
                }
            });
        });

    </script>

</body>

</html>
