---
layout: default
---
<section class="section" id="announcements">
    <div class="adjust-padding-lr">
        <div class="section-title-group">
            <h2 class="centered section-heading">Announcements</h2>
            <div class="center section-subheading">All latest news & major events<br>(Date of Update: <strong>25 August 2018</strong>)</div>
        </div>

        <div class="latestNews">
            <div class="events-icon">
                <a href="#"><img src="assets/img/news.png"></a>
                <h2>10 Latest News</h2>
                <form class="refreshButton">
                    <input TYPE="button" onClick="history.go(0)" VALUE="Refresh">
                </form>
            </div>
            <div class="newsSlider">
                <div class="slideContainer">

                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1533973682/Download/ENG1.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>1</h5>
                            <h4>NECF 40-Day Fast & Prayer</h4>
                            <h2>Booklets @ RM3 per book are available from the Resource Centre & COGS Website(PDF). </h2>
                            <p>07 Aug - 15 Sept 2018</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1507730447/Children%20Bible%20Camp%2017/camp30.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>2</h5>
                            <h4>Sunday School OFF (CHI & ENG)</h4>
                            <h2>Sunday School will be off during this sunday.</h2>
                            <p>26 Aug 2018 (Sun)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1532756856/News%20Images/flower3.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>3</h5>
                            <h4>Sister Care Group Fellowship</h4>
                            <h2>Mawar Care Centre - 7:00 P.M.</h2>
                            <p>26 Aug 2018 (Sunday)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="http://res.cloudinary.com/trippleninja/image/upload/v1527927734/News%20Images/synod.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>4</h5>
                            <h4>Diocesan SYNOD Meeting</h4>
                            <h2>Venue: All Saints' Cathedral, Kota Kinabalu</h2>
                            <p>28 - 31 Aug 2018</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1522943852/News%20Images/captain-ball.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>5</h5>
                            <h4>Captain Ball Friendly Match</h4>
                            <h2>Hosted by St Michael’s Church in celebration of her 130th Anniversary. Time: 8:30 A.M. Sandakan Vision Primary School.
                            </h2>
                            <p>01 Sept 2018 (Sat)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1532756856/News%20Images/flower2.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>6</h5>
                            <h4>Sister's Fellowship</h4>
                            <h2>Monthly gathering;<br>Grace Hall - 2:00 P.M.</h2>
                            <p>01 Sept 2018 (Sat)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="assets/img/baptism2.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>7</h5>
                            <h4>Baptism Service</h4>
                            <h2>Venue: COGS Church, 7:30 P.M.</h2>
                            <p>01 Sept 2018 (Sat)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1532757726/COGS%20Youth/youth_con18.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>8</h5>
                            <h4>Sandakan Anglican Youth Conference</h4>
                            <h2>Venue: St Michael Church. Fee: RM40 (Includes meals and T-shirts, no T-shirts after 13th August); For more info: Pastor Hyen Tze (013-8837782)</h2>
                            <p>10 - 11 Sept 2018</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="https://res.cloudinary.com/trippleninja/image/upload/v1534569205/News%20Images/michaelmas_run.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>9</h5>
                            <h4>Michaelmas Run</h4>
                            <h2>Time: 4:00 P.M. Registration Fee: RM50:00 (including T-Shirt, Wrist Band & Metal). Closing Date: 26 August</h2>
                            <p>16 Sept 2018 (Sun)</p>
                        </div>
                    </div>
                    <div class="slidePhoto">
                        <div class="slideimg"><img src="http://res.cloudinary.com/trippleninja/image/upload/v1522474184/News%20Images/blood.jpg" alt="" /></div>
                        <div class="slideDescription">
                            <h5>10</h5>
                            <h4>Blood Check (FREE)</h4>
                            <h2>Sri Taman Care Centre at Mile 3 1/2 (8:00 A.M. - 9:30 A.M.); We welcome you and your friends to come!</h2>
                            <p>Every Friday</p>
                        </div>
                    </div>
                    <div class="progress-bar"></div>
                </div>
            </div>
        </div>

        <div class="news-container" id="upcomingEvents">
            <div class="events-icon">
                <a href="#"><img src="assets/img/calendar1.png"></a>
                <h2>Upcoming Events</h2>
            </div>
            <!-- If else statement -->
            {% if page.version contains "english" %} {% include upcoming-english.html %}
            {% elsif page.version contains "chinese" %} {% include upcoming-chinese.html %}
            {% else %} {% include upcoming-bm.html %} {% endif %}
            <!-- End of Top News -->
        </div>
        <!-- End of Upcoming News Container -->


        <div class="news-container" id="featuredEvents">
            <div class="events-icon">
                <a href="#"><img src="assets/img/calendar2.png"></a>
                <h2>Featured Event</h2>
            </div>
            <article class="main-news videoad">
                <div class="youtube">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/BD9en_Ucsg4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="youtube-container">
                    <i class="fa fa-youtube-play"></i>
                    <p>Play Youtube</p><i class="fa fa-arrow-up" aria-hidden="true"></i>
                    <a href="#" onclick="return false;" class="link fb-link pgraph">Children Motivation Camp DAY 1<br>20-22th Aug 2018 at The Church of The Good Shepherd (COGS), Sandakan
                    <!--<span class="alpha-link"> 点击这里获取其他图片!</span>-->
                    </a>
                </div>
            </article>
            <article class="main-news videoad">
                <div class="youtube">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/dk3azNpd6Mw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="youtube-container">
                    <i class="fa fa-youtube-play"></i>
                    <p>Play Youtube</p><i class="fa fa-arrow-up" aria-hidden="true"></i>
                    <a href="#" onclick="return false;" class="link fb-link pgraph">Children Motivation Camp DAY 2<br>20-22th Aug 2018 at The Church of The Good Shepherd (COGS), Sandakan
                    </a>
                </div>
            </article>
        </div>
        <!-- End of Featured Events Container -->

        <div class="news-container" id="ongoingEvents">
            <div class="events-icon">
                <a href="#"><img src="assets/img/smart-noti.png"></a>
                <h2>Ongoing Events</h2>
            </div>
            <!-- <article class="picAd">
                <div>
                    <img src="http://res.cloudinary.com/trippleninja/image/upload/v1525329334/News%20Images/confirmation.jpg">
                </div>
                <div class="description-container">
                    <p>COGS Confirmation Class</p>
                    <div class="pgraph">Every Wednesday - Leader: Ho Sui Ting, 7:30 P.M. at COGS Grace Hall<br> Every Sunday - Leader: Stephanie Chin, 11:30 A.M. at COGS Chapel</div>
                </div>
            </article> -->
            <article class="main-news">
                <a rel="canonical" href="{{site.baseurl}}/all-events/ongoing/cogs-church-services"><img class="main-image round-radius" src="assets/img/worship1a.jpg">
                    <div class="main-news-description">
                        <h1 class="main-news-title">Worship Services</h1>
                        <p class="news-pgraph3">Click  <span>here</span> for more info</p>
                    </div>
                </a>
            </article>

            <div class="top-news">
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/all-events/ongoing/cogs-care-groups"><img class="news-image" src="assets/img/ongoing/CGroup.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS Care Group</h1>
                            <p class="news-pgraph2">Together we are strong</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-care-groups" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-care-groups" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-care-groups" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-care-groups" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/all-events/ongoing/cogs-boys-brigade"><img class="news-image" src="assets/img/ongoing/boysbrigade.jpg">
                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS Boys' Brigade(BB)</h1>
                            <p class="news-pgraph2">Every Saturday</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-boys-brigade" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-boys-brigade" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-boys-brigade" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-boys-brigade" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/all-events/ongoing/cogs-basketball"><img class="news-image" src="assets/img/ongoing/basketball.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS Basketball</h1>
                            <p class="news-pgraph2">Every Saturday & Sunday</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-basketball" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-basketball" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-basketball" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-basketball" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/all-events/ongoing/cogs-excelsis-line-dance"><img class="news-image" src="http://res.cloudinary.com/trippleninja/image/upload/v1521560727/LineDance/Line_Dance.jpg">
                        <div class="newsdescription">
                            <h1 class="top-news-title">COGS Excelsis Line Dance</h1>
                            <p class="news-pgraph2">Every Tuesday</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-excelsis-line-dance" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-excelsis-line-dance" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-excelsis-line-dance" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/all-events/ongoing/cogs-excelsis-line-dance" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
            </div>
            <div class="more separator">
                <a href="{{site.baseurl}}/all-events/">
                    <h3>More</h3>
                    <img src="assets/img/arrow-right.png">
                </a>
            </div>
        </div>
        <!-- End of Ongoing News Container -->

        <div class="news-container" id="pastEvents">
            <div class="events-icon add-radius">
                <a href="#"><img src="assets/img/trumpet.png"></a>
                <h2>Past Events</h2>
            </div>
            <article class="main-news">
                <a rel="canonical" href="{{site.baseurl}}/all-events/past/2018/cogs-confirmation-service"><img class="main-image round-radius" src="https://res.cloudinary.com/trippleninja/image/upload/v1536433446/Confirmation%20Service/Sept2018/cs36.jpg">
                    <div class="main-news-description">
                        <h1 class="main-news-title">COGS Confirmation Service</h1>
                        <p class="news-pgraph3">Date: 08 Sept 2018</p>
                        <p class="news-pgraph1">Click <span>here</span> for more information!</p>
                    </div>
                </a>
            </article>
            <div class="top-news">
              <!-- Testing feature weird output as limit:16 only came out 8 posts. things changed if chinese version added new post
              {% for post in site.categories.past limit:8 %}
              {% if post.version contains "english"%}
              <article class="news">
                <a rel="canonical" href="{{ post.url }}">
                                <img class="news-image" src="{{post.image-path}}">
                                <div class="newsdescription">
                                    <h1 class="top-news-title">{{post.title}}</h1>
                                    <p class="news-pgraph2">{{post.description}}</p>
                                </div>
                            </a>
                <div class="card__share">
                  <div class="card__social">
                    <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A/{{post.share-link}}" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A/{{post.share-link}}" target="_blank"><span class="fa fa-twitter"></span></a>
                    <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A/{{post.share-link}}" target="_blank"><span class="fa fa-google-plus"></span></a>
                    <a class="share-icon whatsapp" href="whatsapp://send?text=http:/{{post.share-link}}" target="_blank"><span class="fa fa-whatsapp"></span></a>
                  </div>
                  <a class="share-toggle share-icon" href="#"></a>
                </div>
              </article>
               {% endif %}
              {% endfor %}
-->
                  <article class="news">
                      <a rel="canonical" href="{{site.baseurl}}/all-events/past/2018/cogs-baptism-service"><img class="news-image" src="https://res.cloudinary.com/trippleninja/image/upload/v1536432419/Baptism%20Service/Sept2018/bs24.jpg">
                          <div class="newsdescription">
                              <h1 class="top-news-title">COGS Baptism Service</h1>
                              <p class="news-pgraph2">01 Sept 2018</p>
                          </div>
                      </a>
                      <div class="card__share">
                          <div class="card__social">
                              <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/all-events/past/2018/cogs-baptism-service" target="_blank"><span class="fa fa-facebook"></span></a>
                              <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/all-events/past/2018/cogs-baptism-service" target="_blank"><span class="fa fa-twitter"></span></a>
                              <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/all-events/past/2018/cogs-baptism-service" target="_blank"><span class="fa fa-google-plus"></span></a>
                              <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/all-events/past/2018/cogs-baptism-service" target="_blank"><span class="fa fa-whatsapp"></span></a>
                          </div>

                          <a class="share-toggle share-icon" href="#"></a>
                      </div>
                 </article>
                 <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/all-events/past/2018/cogs-sister-fellowship-singing-competition"><img class="news-image" src="https://res.cloudinary.com/trippleninja/image/upload/v1535874394/Sisters%27%20Fellowship/Singing%20Competition%202018/ssc47.jpg">
                        <div class="newsdescription">
                            <h1 class="top-news-title">Sister Fellowship Singing Competition</h1>
                            <p class="news-pgraph2">01 Sept 2018</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/all-events/past/2018/cogs-sister-fellowship-singing-competition" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/all-events/past/2018/cogs-sister-fellowship-singing-competition" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/all-events/past/2018/cogs-sister-fellowship-singing-competition" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/all-events/past/2018/cogs-sister-fellowship-singing-competition" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/all-events/past/2018/jamming-party"><img class="news-image" src="https://res.cloudinary.com/trippleninja/image/upload/v1531041363/LineDance/JammingParty18/JP34.jpg">
                        <div class="newsdescription">
                            <h1 class="top-news-title">Excelsis Line Dance Jamming Party</h1>
                            <p class="news-pgraph2">03 July 2018</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/all-events/past/2018/jamming-party" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/all-events/past/2018/jamming-party" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/all-events/past/2018/jamming-party" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/all-events/past/2018/jamming-party" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
                <article class="news">
                    <a rel="canonical" href="{{site.baseurl}}/all-events/past/2018/encounter-youth-camp"><img class="news-image" src="https://res.cloudinary.com/trippleninja/image/upload/v1531018737/COGS%20Youth/EncounterCamp18/EYC25.jpg">

                        <div class="newsdescription">
                            <h1 class="top-news-title">Encounter Youth Camp</h1>
                            <p class="news-pgraph2">11 - 14 June 2018</p>
                        </div>
                    </a>
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}/all-events/past/2018/encounter-youth-camp" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}/all-events/past/2018/encounter-youth-camp" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}/all-events/past/2018/encounter-youth-camp" target="_blank"><span class="fa fa-google-plus"></span></a>
                            <a class="share-icon whatsapp" href="whatsapp://send?text={{site.url}}{{site.baseurl}}/all-events/past/2018/encounter-youth-camp" target="_blank"><span class="fa fa-whatsapp"></span></a>
                        </div>

                        <a class="share-toggle share-icon" href="#"></a>
                    </div>
                </article>
            </div>
            <div class="more separator">
                <a href="{{site.baseurl}}/all-events/">
                    <h3>More</h3>
                    <img src="assets/img/arrow-right.png">
                </a>
            </div>
        </div>
        <!-- End of Past Event News Container -->

    </div>
</section>
