<div class="top-news">
  {% for post in site.posts %}
    {% if post.version contains page.version%}

        <article class="news">
            <a rel="canonical" href="{{ post.url }}">
            <img class="news-image" src="{{post.image-path}}">
            <div class="newsdescription">
                <h1 class="top-news-title">{{post.title}}</h1>
                <p class="news-pgraph2">{{post.descriptions}}</p>
            </div>
        </a>
        <div class="card__share">
            <div class="card__social">
                <a class="share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//{{page.share-link}}" target="_blank"><span class="fa fa-facebook"></span></a>
                <a class="share-icon twitter" href="https://twitter.com/share?url=http%3A//{{page.share-link}}" target="_blank"><span class="fa fa-twitter"></span></a>
                <a class="share-icon googleplus" href="https://plus.google.com/share?url=http%3A//{{page.share-link}}" target="_blank"><span class="fa fa-google-plus"></span></a>
                <a class="share-icon whatsapp" href="whatsapp://send?text=http://{{page.share-link}}" target="_blank"><span class="fa fa-whatsapp"></span></a>
            </div>
            <a class="share-toggle share-icon" href="#"></a>
        </div>
        </article>

    {% endif %}
  {% endfor %}
</div>
