<!DOCTYPE html>
<html lang="{{page.lang}}" itemscope itemtype="http://schema.org/Organization" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <title>"{{page.meta-title}}"</title>
    <meta name="description" content="{{page.meta-description}}" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{page.meta-title}}">
    <meta itemprop="description" content="{{page.meta-description}}">
    <meta itemprop="image" content="{{site.baseurl}}/assets/img/history/thumbnail.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cogssandakan">
    <meta name="twitter:title" content="{{page.meta-title}}">
    <meta name="twitter:description" content="{{page.meta-description}}">
    <meta name="twitter:creator" content="@cogssandakan">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image" content="{{site.baseurl}}/assets/img/history/thumbnail.jpg">

    <!-- Open Graph data -->
    <meta property="fb:app_id" content="149572635665595"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{site.baseurl}}/{{page.urllink}}"/>
    <meta property="og:title" content="{{page.meta-title}}"/>
    <meta property="og:description" content="{{page.meta-description}}"/>
    <meta property="og:image" content="{{site.baseurl}}/assets/img/history/thumbnail.jpg"/>
    <meta property="og:image:alt" content="{{page.meta-image-alt}}"/>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/animate.css">
    <link href="{{site.baseurl}}/assets/css/journey.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/assets/css/rotate.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />-->
    {% include favicon.html %}
    {% include google-analytics.html %}

</head>

<body class="body">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P44M4ZR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="scrollDown" class="top-nav">
        <div class="text-block">{{page.title}}</div>
        <a href="../index.html" class="link">{{page.back}}</a>
    </div>
    <div id="fullpage">
        <div id="introOne" class="_1-intro">
            <div class="intro-container w-container">
                <h1 class="intro-heading">{{page.intro1}}</h1>
                <p class="intro-pgraph">{{page.intro2}}</p>
            </div>
        </div>
        <div id="introTwo" class="_2-intro">
            <div class="intro-container w-container">
                <h1 class="intro-heading">{{page.intro3}}</h1>
                <p class="intro-pgraph">{{page.intro4}}</p>
            </div>
        </div>
        <div id="introThree" class="_3-intro">
            <div class="intro-container w-container">
                <h1 class="intro-heading">{{page.intro5}}</h1>
                <p class="intro-pgraph">{{page.intro6}}</p>
            </div>
        </div>
        <div class="page1 section">
            <div class="pic1"></div>
            <div class="animated bounceIn page1-container">
                <h1 class="heading">{{page.heading}}</h1>
                <p class="paragraph">{{page.pgraph}}</p>
            </div>
        </div>
        <div class="page2 section">
            <div class="page2-container">
                <h1 class="page2-heading">{{page.question}}</h1>
            </div>
        </div>
        <div class="page3 section">
            <div class="pic3"></div>
            <div id="ideaConcept" class="page3-container">
                <h1 class="heading">{{page.heading1}}</h1>
                <p class="paragraph">{{page.pgraph1}}</p>
            </div>
        </div>
        <div class="page4 section section">
            <div class="pic4"></div>
            <div class="page4-container w-container">
                <p class="page4-pgraph">{{page.pgraph2}}</p>
            </div>
        </div>
        <div class="page5 section">
            <div class="pic5"></div>
            <div class="page5-container">
                <p class="page5-pgraph">{{page.pgraph3}}</p>
            </div>
        </div>
        <div class="find-land section">
            <div class="find-container w-container">
                <h1 class="find-heading">{{page.heading2}}</h1>
                <p class="find-pgraph">{{page.pgraph4}}</p>
            </div>
        </div>
        <div class="land1 section">
            <div class="pic6"></div>
            <div class="land-container">
                <p class="land-pgraph">{{page.pgraph5}}</p>
            </div>
        </div>
        <div class="land2 section">
            <div class="pic7"></div>
            <div class="land-container2">
                <p class="land-pgraph2">{{page.pgraph6}}</p>
            </div>
        </div>
        <div class="raise-fund section">
            <div class="fund-container w-container">
                <h1 class="fund-heading">{{page.heading3}}</h1>
                <div class="fund-row">
                    <div class="fund-div">
                        <p class="fund-pgraph">{{page.pgraph7}}</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">{{page.pgraph8}}</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">{{page.pgraph9}}</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">{{page.pgraph10}}</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">{{page.pgraph11}}</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">{{page.pgraph12}}</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">{{page.pgraph13}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="raise1 section">
            <div class="pic8"></div>
            <div class="raise-container">
                <p class="raise-pgraph">{{page.pgraph14}}</p>
            </div>
        </div>
        <div class="raise2 section">
            <div class="pic9"></div>
            <div class="raise-container">
                <p class="raise-pgraph">{{page.pgraph15}}</p>
            </div>
        </div>
        <div class="raise3 section">
            <div class="pic10"></div>
            <div class="raise-container">
                <p class="raise-pgraph">{{page.pgraph16}}</p>
            </div>
        </div>
        <div class="raise4 section">
            <div class="pic11"></div>
            <div class="raise-container">
                <p class="raise-pgraph">{{page.pgraph17}}</p>
            </div>
        </div>
        <div class="raise5 section">
            <div class="pic12"></div>
            <div class="raise-container">
                <p class="raise-pgraph">{{page.pgraph18}}</p>
            </div>
        </div>
        <div class="raise6 section">
            <div class="pic13"></div>
            <div class="raise-container">
                <p class="raise-pgraph">{{page.pgraph19}}</p>
            </div>
        </div>
        <div class="raise7 section">
            <div class="raise-container2 w-container">
                <h1 class="raise-heading">{{page.pgraph20}}</h1>

                <table class="fund-table">
                    <tr>
                        <th>{{page.table1}}</th>
                        <th>{{page.table2}}</th>
                    </tr>
                    <tr>
                        <td>{{page.table3}}</td>
                        <td>{{page.table4}}</td>
                    </tr>
                    <tr>
                        <td>{{page.table5}}</td>
                        <td>{{page.table6}}</td>
                    </tr>
                    <tr>
                        <td>{{page.table7}}</td>
                        <td>{{page.table8}}</td>
                    </tr>
                    <tr>
                        <td>{{page.table9}}</td>
                        <td>{{page.table10}}</td>
                    </tr>
                    <tr>
                        <td>{{page.table11}}</td>
                        <td>{{page.table12}}</td>
                    </tr>
                    <tr>
                        <td>{{page.table13}}</td>
                        <td>{{page.table14}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="progress section">
            <div class="progress-container w-container">
                <h1 class="progress-heading">{{page.pgraph21}}</h1>
                <div class="progress-div">
                    <p class="progress-pgraph">{{page.pgraph22}}</p>
                    <p class="progress-pgraph">{{page.pgraph23}}</p>
                    <p class="progress-pgraph">{{page.pgraph24}}</p>
                    <p class="progress-pgraph">{{page.pgraph25}}</p>
                    <p class="progress-pgraph">{{page.pgraph26}}</p>
                </div>
            </div>
        </div>
        <div class="process1 section">
            <div class="process1-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">{{page.process1}}</p>
            </div>
        </div>
        <div class="process2 section">
            <div class="process2-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">{{page.process2}}</p>
            </div>
        </div>
        <div class="process3 section">
            <div class="process3-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">{{page.process3}}</p>
            </div>
        </div>
        <div class="process4 section">
            <div class="process4-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">{{page.process4}}</p>
            </div>
        </div>
        <div class="process5 section">
            <div class="process5-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">{{page.process5}}</p>
            </div>
        </div>
        <div class="process6 section">
            <div class="process6-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">{{page.process6}}</p>
            </div>
        </div>
        <div class="process7 section">
            <div class="process7-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">{{page.process7}}</p>
            </div>
        </div>
        <div class="process8 section">
            <div class="process8-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">{{page.process8}}</p>
            </div>
        </div>
        <div class="process9 section">
            <div class="process9-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">{{page.process9}}</p>
            </div>
        </div>
        <div class="process10 section">
            <div class="process10-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">{{page.process10}}</p>
            </div>
        </div>
        <div class="process11 section">
            <div class="process11-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">{{page.process11}}</p>
            </div>
        </div>
        <div class="page-dedication section">
            <div class="dedication-container">
                <h1 class="dedication-heading">{{page.dedication1}}</h1>
            </div>
        </div>
        <div class="paged1 section">
            <div class="picd1"></div>
            <div class="d1-container">
                <p class="d1-pgraph">{{page.dedication2}}</p>
            </div>
        </div>
        <div class="paged2 section">
            <div class="picd2"></div>
            <div class="d2-container">
                <p class="d2-pgraph">{{page.dedication3}}</p>
            </div>
        </div>
        <div class="paged3 section">
            <div class="picd3"></div>
            <div class="d3-container">
                <p class="d3-pgraph">{{page.dedication4}}</p>
            </div>
        </div>
        <div class="paged4 section">
            <div class="picd4"></div>
            <div class="d4-container">
                <p class="d4-pgraph">{{page.dedication5}}</p>
            </div>
        </div>
        <div class="paged5 section">
            <div class="picd5"></div>
            <div class="d5-container">
                <p class="d5-pgraph">{{page.dedication6}}</p>
            </div>
        </div>
        <div class="paged6 section">
            <div class="picd6"></div>
            <div class="d6-container">
                <p class="d6-pgraph">{{page.dedication7}}</p>
            </div>
        </div>
        <div class="paged7 section">
            <div class="picd7"></div>
            <div class="d7-container">
                <p class="d7-pgraph">{{page.dedication8}}</p>
            </div>
        </div>
        <div class="phase1-end section">
            <div class="phase1-container">
                <h1 class="phase1-heading">{{page.thanks1}}</h1>
                <div class="phase1-div">
                    <p class="phase1-subheading">{{page.thanks2}}</p>
                </div>
                <p class="phase1-pgraph">{{page.thanks3}}</p>
            </div>
        </div>
        <div class="source section">
            <div class="source-container">
                <h1 class="source-heading">{{page.thanks4}}</h1>
                <p class="source-pgraph">{{page.thanks5}}</p>
                <div class="source-div">
                    <div class="source-row">
                        <div class="source-pic1"></div>
                        <h1 class="source-subheading1">{{page.thanks6}}</h1>
                    </div>
                    <div class="source-row">
                        <div class="source-pic2"></div>
                        <h1 class="source-subheading1">{{page.thanks7}}</h1>
                    </div>
                </div>
            </div>
        </div>
          {% include footer.html %}
    </div>
    {% include rotate.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://www.cogssandakan.com/js/jquery.fullPage.min.js" type="text/javascript"></script>
    <script>
        $(function() {
            setTimeout(function() {
                $('#introOne').css('opacity', '0');
            }, 5000);
        });
        $(function() {
            setTimeout(function() {
                $('#introOne').css('display', 'none');
            }, 5000);
        });
        $(function() {
            setTimeout(function() {
                $('#introTwo').css('opacity', '0');
            }, 10000);
        });
        $(function() {
            setTimeout(function() {
                $('#introTwo').css('display', 'none');
            }, 10000);
        });
        $(function() {
            setTimeout(function() {
                $('#introThree').css('opacity', '0');
            }, 12000);
        });

        $(function() {
            setTimeout(function() {
                $('#introThree').css('display', 'none');
            }, 13000);
        });

    </script>
    <script>
        /*var iScrollPos = 0;
        $(window).scroll(function() {
            var iCurScrollPos = $(this).scrollTop();
            if (iCurScrollPos > iScrollPos) {
                $("#scrollDown").css('display', 'none');
            } else {
                $("#scrollDown").css('display', 'flex');
                $("#scrollDown").css('background-color', '#232321');
                $("#scrollDown").css('border-bottom-color', 'white');
            }
            iScrollPos = iCurScrollPos;

            var triggered_times = 0;
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100 && triggered_times == 0) {
                $("#scrollDown").css("display", "flex");
                $("#scrollDown").css('background-color', '#232321');
                $("#scrollDown").css('border-bottom-color', 'white');

                triggered_times = 1;
            }

            if ($(document).scrollTop() == 0) {
                $("#scrollDown").css("display", "flex");
                $("#scrollDown").css('background-color', 'transparent');
                $("#scrollDown").css('border-bottom-color', 'transparent');

            }
        });
            */

    </script>
    <script>
        $(document).ready(function() {
            $('#fullpage').fullpage();

            // set the max height
             if ((window.matchMedia('(max-height: 460px)').matches) && (window.matchMedia('(orientation: landscape)').matches)) {
                    $("#rotateDevice").css("display", "block");
                } else {
                    $("#rotateDevice").css("display", "none");
                }
            });
    </script>
    <script>
        $(window).resize(function () {
            if ((window.matchMedia('(orientation: landscape)').matches)) {
                $("#rotateDevice").css("display", "block");
            } else {
                $("#rotateDevice").css("display", "none");
            }
        });
    </script>
</body>

</html>
