<!DOCTYPE html>
<html lang="{{page.lang}}" itemscope itemtype="http://schema.org/Organization" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <title>"{{page.meta-title}}"</title>
    <meta name="description" content="{{page.meta-description}}" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{page.meta-title}}">
    <meta itemprop="description" content="{{page.meta-description}}">
    <meta itemprop="image" content="http://www.cogssandakan.com/img/thumbnail.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cogssandakan">
    <meta name="twitter:title" content="{{page.meta-title}}">
    <meta name="twitter:description" content="{{page.meta-description}}">
    <meta name="twitter:creator" content="@cogssandakan">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image" content="http://www.cogssandakan.com/img/thumbnail.jpg">

    <!-- Open Graph data -->
    <meta property="fb:app_id" content="149572635665595"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://www.cogssandakan.com/History/journey.html"/>
    <meta property="og:title" content="{{page.meta-title}}"/>
    <meta property="og:description" content="{{page.meta-description}}"/>
    <meta property="og:image" content="http://www.cogssandakan.com/img/thumbnail.jpg"/>
    <meta property="og:image:alt" content="Picture of The Church of The Good Shepherds(COGS)"/>

    <link rel="stylesheet" type="text/css" href="../css/animate.css">
    <link href="../History/journey.css" rel="stylesheet" type="text/css">
    <link href="../css/rotate.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />-->

    <link href="../img/favicon/favicon2-96x96.png" rel="shortcut icon" type="image/x-icon">
    <link href="../img/favicon/apple-icon2-180x180.png" rel="apple-touch-icon">

<!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P44M4ZR');

    </script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109996664-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-109996664-1');
        gtag('set', {
            'user_id': 'USER_ID'
        }); // Set the user ID using signed-in user_id.

    </script>

</head>

<body class="body">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P44M4ZR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="scrollDown" class="top-nav">
        <div class="text-block">OUR JOURNEY</div>
        <a href="../index.html" class="link">BACK</a>
    </div>
    <div id="fullpage">
        <div id="introOne" class="_1-intro">
            <div class="intro-container w-container">
                <h1 class="intro-heading">Ten years of searching</h1>
                <p class="intro-pgraph">for an answer</p>
            </div>
        </div>
        <div id="introTwo" class="_2-intro">
            <div class="intro-container w-container">
                <h1 class="intro-heading">By God's grace and guidance</h1>
                <p class="intro-pgraph">from conception to completion</p>
            </div>
        </div>
        <div id="introThree" class="_3-intro">
            <div class="intro-container w-container">
                <h1 class="intro-heading">Finally the waiting is over</h1>
                <p class="intro-pgraph">a vision becomes a reality</p>
            </div>
        </div>
        <div class="page1 section">
            <div class="pic1"></div>
            <div class="animated bounceIn page1-container">
                <h1 class="heading">This is the story of our journey</h1>
                <p class="paragraph">The beginning of Good Shepherd Church</p>
            </div>
        </div>
        <div class="page2 section">
            <div class="page2-container">
                <h1 class="page2-heading">How did it all started?</h1>
            </div>
        </div>
        <div class="page3 section">
            <div class="pic3"></div>
            <div id="ideaConcept" class="page3-container">
                <h1 class="heading">The Idea Conception</h1>
                <p class="paragraph">Started in St.Michael &amp; All Angel's Church</p>
            </div>
        </div>
        <div class="page4 section section">
            <div class="pic4"></div>
            <div class="page4-container w-container">
                <p class="page4-pgraph">In the mid of 1970 the church attendance of St.Michael &amp;All Angel's Church was increasing rapidly. Whenever there was a special service or event, the Church could not take in all the people. Many of them stand outside the Church during these events. The car park area also become a problem as members can't find a place to park their car. Thus the Parish Church Council realized that a bigger church was required to respond to the needs of present parishioners, and the further growth of the Church.</p>
            </div>
        </div>
        <div class="page5 section">
            <div class="pic5"></div>
            <div class="page5-container">
                <p class="page5-pgraph">Ever since Bishop Yong Ping Chung (middle) was appointed Rector (then) of St.Michael Church in December, 1973 he had his vision of a Daughter Church but had kept in a secret and waited for the right moment for God to reveal His plan. On the 10th August, 1976, this &nbsp;idea of building a completely new Daughter Church was bought up in Parish Council Meeting and the vision was then shared to the rest of church members.</p>
            </div>
        </div>
        <div class="find-land section">
            <div class="find-container w-container">
                <h1 class="find-heading">Searching Land</h1>
                <p class="find-pgraph">To build the Church we need a land which is increasingly difficult to find and costly to purchase. After searching for a year,&nbsp;we looked at two piece of land, but both did not materialize. Just when we were about to give up and settle for a house in a housing estate, God provided us a land (1.05 acres) which was situated at Mile 5, North Road was available and belong to a Church family. It is an ideal place because Tshun Nyen and Sibuga Housing Estate were already established. Other nearby estates were in the process of being developed. Thus the transfer of the land was completed in February 1978. Additional land (0.92 acres) was added (1979) to accommodate the Church, a Rectory, a Church Hall and other social amenities.</p>
            </div>
        </div>
        <div class="land1 section">
            <div class="pic6"></div>
            <div class="land-container">
                <p class="land-pgraph">Purchased Land in Mile 5, Labuk Road, 1978</p>
            </div>
        </div>
        <div class="land2 section">
            <div class="pic7"></div>
            <div class="land-container2">
                <p class="land-pgraph2">Now we have our land. Our next challenge is to raise building fund. Thus on 24th September, 1978, a group of committee was appointed and led by Rev. Yapp Foh Yu (chairman - third from left).</p>
            </div>
        </div>
        <div class="raise-fund section">
            <div class="fund-container w-container">
                <h1 class="fund-heading">How we raise fund?</h1>
                <div class="fund-row">
                    <div class="fund-div">
                        <p class="fund-pgraph">1. A pledge card system requesting each church member (working adult) to pledge a month's salary or whatever amount he could afford as a symbol of "my gift to God".</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">2. "RM100 a plate" Buffet Dinner was successfully launched on the evening of 15th December, 1979 at the Sabah Hotel. More than 300 guests attended, some are not Church members but wanted to show their support.</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">3. Donations &amp;Collections on St.Monica's and St.Gabriel's Day</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">4. Through yearly Christmas Carolling (between 1978 and 1983).</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">5. Women Fellowship contributed through their efforts in sales of food, sales of kindergarten uniforms and other handicrafts.</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">6. Challenge by Datuk R.G.Barrett on 19th Oct, 1978 - He promised to give RM1 for every RM1 we gave to the Building Fund. His challenge would hold good for a period upto 31st December 1981 with the provision for extension of the dateline.</p>
                    </div>
                    <div class="fund-div">
                        <p class="fund-pgraph">7. The Parish Bazaar in September, 1983.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="raise1 section">
            <div class="pic8"></div>
            <div class="raise-container">
                <p class="raise-pgraph">An example of a "Pledge Card" system for church members</p>
            </div>
        </div>
        <div class="raise2 section">
            <div class="pic9"></div>
            <div class="raise-container">
                <p class="raise-pgraph">The article of "RM100 a plate" Buffet Dinner from local newspaper</p>
            </div>
        </div>
        <div class="raise3 section">
            <div class="pic10"></div>
            <div class="raise-container">
                <p class="raise-pgraph">Buffet Dinner in Sabah Hotel, 15th December, 1979</p>
            </div>
        </div>
        <div class="raise4 section">
            <div class="pic11"></div>
            <div class="raise-container">
                <p class="raise-pgraph">The Women's Fellowship who helps in organizing Parish Bazaar and sales.</p>
            </div>
        </div>
        <div class="raise5 section">
            <div class="pic12"></div>
            <div class="raise-container">
                <p class="raise-pgraph">Challenge by Datuk R.G.Barrett on 19th Oct, 1978</p>
            </div>
        </div>
        <div class="raise6 section">
            <div class="pic13"></div>
            <div class="raise-container">
                <p class="raise-pgraph">The Parish Bazaar in 1983</p>
            </div>
        </div>
        <div class="raise7 section">
            <div class="raise-container2 w-container">
                <h1 class="raise-heading">Building Fund Summary as at 31st December</h1>

                <table class="fund-table">
                    <tr>
                        <th>YEAR</th>
                        <th>AMOUNT (RM)</th>
                    </tr>
                    <tr>
                        <td>1978</td>
                        <td>109,608.75</td>
                    </tr>
                    <tr>
                        <td>1979</td>
                        <td>268,121.60</td>
                    </tr>
                    <tr>
                        <td>1980</td>
                        <td>491,202.44</td>
                    </tr>
                    <tr>
                        <td>1981</td>
                        <td>630,389.36</td>
                    </tr>
                    <tr>
                        <td>1982</td>
                        <td>839,079.51</td>
                    </tr>
                    <tr>
                        <td>TOTAL</td>
                        <td>1,357,218.35</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="progress section">
            <div class="progress-container w-container">
                <h1 class="progress-heading">The Church Building Progress</h1>
                <div class="progress-div">
                    <p class="progress-pgraph">1)&nbsp;Land Reclamation (Dec 1981) - First and second phase were completed by raising the ground level to Labuk Road.</p>
                    <p class="progress-pgraph">2) "Breaking the Ground" Ceremony (19th, September, 1982) - It was conducted by Bishop of Sabah, The Rt.Rev.Luke Chhoa, in the presence of more than 100 parishioners.</p>
                    <p class="progress-pgraph">3)&nbsp;Construction Period (from Oct 1982 to March 1984) - Piling works commenced, foundation completed, pillars began to appear, then came the roof and eventually, the walls were put up.</p>
                    <p class="progress-pgraph">4) Gotong-Royong (11th March and 20th March, 1984) - More than 100 church members, young and old shows up to clear the debris, cut the grass and turf the bare up.</p>
                    <p class="progress-pgraph">5)&nbsp;Consecration &amp;Dedication Service (6th May, 1984) - 1,111 guests and church members turned up, praising and thanking God for His guidance, encouragement and blessing through this new church building.</p>
                </div>
            </div>
        </div>
        <div class="process1 section">
            <div class="process1-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">The First Visit to the Church Site</p>
            </div>
        </div>
        <div class="process2 section">
            <div class="process2-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">The 'Breaking of Ground'&nbsp;ceremony</p>
            </div>
        </div>
        <div class="process3 section">
            <div class="process3-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">Construction Begin</p>
            </div>
        </div>
        <div class="process4 section">
            <div class="process4-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">Site in progress</p>
            </div>
        </div>
        <div class="process5 section">
            <div class="process5-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">Site in progress</p>
            </div>
        </div>
        <div class="process6 section">
            <div class="process6-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">Site in progress</p>
            </div>
        </div>
        <div class="process7 section">
            <div class="process7-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">"Gotong Royong" by church members</p>
            </div>
        </div>
        <div class="process8 section">
            <div class="process8-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">"Gotong Royong" by church members</p>
            </div>
        </div>
        <div class="process9 section">
            <div class="process9-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">"Gotong Royong" by church members</p>
            </div>
        </div>
        <div class="process10 section">
            <div class="process10-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">Church Completion in March, 1984</p>
            </div>
        </div>
        <div class="process11 section">
            <div class="process11-pic"></div>
            <div class="process-container">
                <p class="process-pgraph">Overall view from Labuk Road</p>
            </div>
        </div>
        <div class="page-dedication section">
            <div class="dedication-container">
                <h1 class="dedication-heading">The Consecration &amp;&nbsp;Dedication Service - 6th May 1984</h1>
            </div>
        </div>
        <div class="paged1 section">
            <div class="picd1"></div>
            <div class="d1-container">
                <p class="d1-pgraph">The service started by ringing the bell at 5pm following the marching of choirs from rectory towards church.</p>
            </div>
        </div>
        <div class="paged2 section">
            <div class="picd2"></div>
            <div class="d2-container">
                <p class="d2-pgraph">Handling over the keys of the Church to Bishop</p>
            </div>
        </div>
        <div class="paged3 section">
            <div class="picd3"></div>
            <div class="d3-container">
                <p class="d3-pgraph">Total of 1,111 guests and church members</p>
            </div>
        </div>
        <div class="paged4 section">
            <div class="picd4"></div>
            <div class="d4-container">
                <p class="d4-pgraph">Baptising them in the name of the Father, and of the Son, and of the Holy Spirit Amen!</p>
            </div>
        </div>
        <div class="paged5 section">
            <div class="picd5"></div>
            <div class="d5-container">
                <p class="d5-pgraph">Blessing of the Altar</p>
            </div>
        </div>
        <div class="paged6 section">
            <div class="picd6"></div>
            <div class="d6-container">
                <p class="d6-pgraph">Singing of hymn "All people that on earth do dwell"</p>
            </div>
        </div>
        <div class="paged7 section">
            <div class="picd7"></div>
            <div class="d7-container">
                <p class="d7-pgraph">Blessing of the Rectory</p>
            </div>
        </div>
        <div class="phase1-end section">
            <div class="phase1-container">
                <h1 class="phase1-heading">SPECIAL THANKS</h1>
                <div class="phase1-div">
                    <p class="phase1-subheading">To everyone who helped and contributed in this project</p>
                </div>
                <p class="phase1-pgraph">It is amazing how God had moved our people to give and to support in this project. We thank God for guiding us, leading us, sustaining us and at time prompting us. "I will always thank the Lord; I will never stop praising Him." May this Church stand forever as our living witness of Praise and Thanksgiving to the Almighty God.</p>
            </div>
        </div>
        <div class="source section">
            <div class="source-container">
                <h1 class="source-heading">All information were taken from these books below</h1>
                <p class="source-pgraph">You may find them in COGS Resource Center for further reading.</p>
                <div class="source-div">
                    <div class="source-row">
                        <div class="source-pic1"></div>
                        <h1 class="source-subheading1">Souvenir Booklet 1984</h1>
                    </div>
                    <div class="source-row">
                        <div class="source-pic2"></div>
                        <h1 class="source-subheading1">10th Anniversary Sourvenir Magazine</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="footerSec" class="footer section">
            <div class="footer-container w-container">
                <div class="social-media-text">COGS SANDAKAN @ Copyright 2018. </div>
                <div class="social-icons">
                    <a class="social-icon-link " target="_blank" href="https://www.facebook.com/cogssandakan">
                        <img src="../img/fb.png" width="30">
                    </a>
                    <a class="social-icon-link " target="_blank" href="https://twitter.com/cogssandakan">
                        <img src="../img/twitter.png" width="30">
                    </a>
                    <a class="social-icon-link " target="_blank" href="https://www.instagram.com/cogssandakan">
                        <img src="../img/instag.png" width="30">
                    </a>
                    <a class="social-icon-link " target="_blank" href="https://plus.google.com/u/0/107266476292640136953">
                        <img src="../img/google-plus.png" width="30">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="rotateDevice" class="rotate-screen">
        <div class="rotate-container">
            <div class="rotate-pic"></div>
            <h2>Rotate your device</h2>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script src="../js/jquery.fullPage.min.js" type="text/javascript"></script>
    <script>
        $(function() {
            setTimeout(function() {
                $('#introOne').css('opacity', '0');
            }, 5000);
        });
        $(function() {
            setTimeout(function() {
                $('#introOne').css('display', 'none');
            }, 5000);
        });
        $(function() {
            setTimeout(function() {
                $('#introTwo').css('opacity', '0');
            }, 10000);
        });
        $(function() {
            setTimeout(function() {
                $('#introTwo').css('display', 'none');
            }, 10000);
        });
        $(function() {
            setTimeout(function() {
                $('#introThree').css('opacity', '0');
            }, 12000);
        });

        $(function() {
            setTimeout(function() {
                $('#introThree').css('display', 'none');
            }, 13000);
        });

    </script>
    <script>
        /*var iScrollPos = 0;
        $(window).scroll(function() {
            var iCurScrollPos = $(this).scrollTop();
            if (iCurScrollPos > iScrollPos) {
                $("#scrollDown").css('display', 'none');
            } else {
                $("#scrollDown").css('display', 'flex');
                $("#scrollDown").css('background-color', '#232321');
                $("#scrollDown").css('border-bottom-color', 'white');
            }
            iScrollPos = iCurScrollPos;

            var triggered_times = 0;
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100 && triggered_times == 0) {
                $("#scrollDown").css("display", "flex");
                $("#scrollDown").css('background-color', '#232321');
                $("#scrollDown").css('border-bottom-color', 'white');

                triggered_times = 1;
            }

            if ($(document).scrollTop() == 0) {
                $("#scrollDown").css("display", "flex");
                $("#scrollDown").css('background-color', 'transparent');
                $("#scrollDown").css('border-bottom-color', 'transparent');

            }
        });
            */

    </script>
    <script>
        $(document).ready(function() {
            $('#fullpage').fullpage();

            // set the max height
             if ((window.matchMedia('(max-height: 460px)').matches) && (window.matchMedia('(orientation: landscape)').matches)) {
                    $("#rotateDevice").css("display", "block");
                } else {
                    $("#rotateDevice").css("display", "none");
                }
            });
    </script>
    <script>
        $(window).resize(function () {
            if ((window.matchMedia('(orientation: landscape)').matches)) {
                $("#rotateDevice").css("display", "block");
            } else {
                $("#rotateDevice").css("display", "none");
            }
        });
    </script>
</body>

</html>
